{% extends "dashboard/layout.html" %}
{% load static %}
{% load to_price %}
{% load to_persian_date %}
{% block contents %}





<div class="row">

  {% if financial_profile_list %}
  
  <div class="col-lg-12">
    <div class="card card-stats">
      <div class="card-header card-header-{{our_service.color}} card-header-icon">
        <div class="card-icon">
          <i class="material-icons">{{our_service.icon}}</i>
        </div>
        <h3 class="card-title">پروفایل های مالی</h3>
      </div>
      <div class="card-body">
        <table class="table">
          <thead class=" text-primary">
            <td>
              عنوان
            </td>
  
  
          </thead>
  
          <tbody>
            {% for financial_profile in financial_profile_list %}
            <tr>
              <td>
                <a href="{{financial_profile.get_absolute_url}}">
                  {{financial_profile.title}}
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
  
        {% if perms.app.change_ourservice %}
        <a href="{{our_service.get_edit_url}}" class="btn btn-block btn-primary btn-round">
          <i class="material-icons">date_range</i>
          ویرایش</a>
        {% endif %}
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">date_range</i>۲۴ ساعت اخیر
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  
{% if financial_account_list %}
  
<div class="col-lg-12">
  <div class="card card-stats">
    <div class="card-header card-header-{{our_service.color}} card-header-icon">
      <div class="card-icon">
        <i class="material-icons">{{our_service.icon}}</i>
      </div>
      <h3 class="card-title">حساب های مالی</h3>
    </div>
    <div class="card-body">
      <table class="table">
        <thead class=" text-primary">
          <td>
            عنوان
          </td>


        </thead>

        <tbody>
          {% for financial_account in financial_account_list %}
          <tr>
            <td>
              <a href="{{financial_account.get_absolute_url}}">
                {{financial_account.title}}
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      {% if perms.app.change_ourservice %}
      <a href="{{our_service.get_edit_url}}" class="btn btn-block btn-primary btn-round">
        <i class="material-icons">date_range</i>
        ویرایش</a>
      {% endif %}
    </div>
    <div class="card-footer">
      <div class="stats">
        <i class="material-icons">date_range</i>۲۴ ساعت اخیر
      </div>
    </div>
  </div>
</div>
{% endif %}


  {% if financial_transaction_list %}

  <div class="col-lg-12">
    <div class="card card-stats">
      <div class="card-header card-header-{{our_service.color}} card-header-icon">
        <div class="card-icon">
          <i class="material-icons">{{our_service.icon}}</i>
        </div>
        <h3 class="card-title">تراکنش های مالی</h3>
      </div>
      <div class="card-body">
        <table class="table">
          <thead class=" text-primary">
            <td>
              عنوان
            </td>

            <td>
             بستانکار
            </td>

            <td>
              بدهکار
            </td>

            <td>
              مبلغ
            </td>

            <td>
              تاریخ
            </td>
          </thead>

          <tbody>
            {% for transaction in financial_transaction_list %}
            <tr>

              <td>
                {{transaction.title}}

              </td>
              <td>
                <a href="{{transaction.from_account.get_absolute_url}}">
                  {{transaction.from_account}}
                </a>

              </td>
              <td> <a href="{{transaction.to_account.get_absolute_url}}">

                  {{transaction.to_account}}
                </a>
              </td>
              <td>
                {{transaction.amount | to_price}}
              </td>

              <td>
                {{transaction.date_document | to_persian_date|safe}}
              </td>

            </tr>

            {% endfor %}
          </tbody>
        </table>

        {% if perms.app.change_ourservice %}
        <a href="{{our_service.get_edit_url}}" class="btn btn-block btn-primary btn-round">
          <i class="material-icons">date_range</i>
          ویرایش</a>
        {% endif %}
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">date_range</i>۲۴ ساعت اخیر
        </div>
      </div>
    </div>
  </div>


  {% endif %}
</div>



{% endblock %}
{% block scripts %}
<script>
  let initDashboardPageCharts = function () {

    if ($('#dailySalesChart').length != 0 || $('#completedTasksChart').length != 0 || $('#websiteViewsChart').length != 0) {
      /* ----------==========     Daily Sales Chart initialization    ==========---------- */

      dataDailySalesChart = {
        labels: ['شنبه', '1', '2', '3', '4', '5', 'جمعه'],
        series: [
          [12, 60, 87, 17, 23, 18, 38]
        ]
      };

      optionsDailySalesChart = {
        lineSmooth: Chartist.Interpolation.cardinal({
          tension: 1
        }),
        low: 0,
        high: 100, // creative tim: we recommend you to set the high sa the biggest value + something for a better look
        chartPadding: {
          top: 0,
          right: 0,
          bottom: 0,
          left: 0
        },
      }

      var dailySalesChart = new Chartist.Line('#dailySalesChart', dataDailySalesChart, optionsDailySalesChart);

      md.startAnimationForLineChart(dailySalesChart);



      /* ----------==========     Completed Tasks Chart initialization    ==========---------- */

      dataCompletedTasksChart = {
        labels: ['12p', '3p', '6p', '9p', '12p', '3a', '6a', '9a'],
        series: [
          [230, 750, 100, 300, 280, 240, 200, 190]
        ]
      };

      optionsCompletedTasksChart = {
        lineSmooth: Chartist.Interpolation.cardinal({
          tension: 0
        }),
        low: 0,
        high: 1000, // creative tim: we recommend you to set the high sa the biggest value + something for a better look
        chartPadding: {
          top: 0,
          right: 0,
          bottom: 0,
          left: 0
        }
      }

      var completedTasksChart = new Chartist.Line('#completedTasksChart', dataCompletedTasksChart, optionsCompletedTasksChart);

      // start animation for the Completed Tasks Chart - Line Chart
      md.startAnimationForLineChart(completedTasksChart);


      /* ----------==========     Emails Subscription Chart initialization    ==========---------- */

      var dataWebsiteViewsChart = {
        labels: ['J', 'F', 'M', 'A', 'M', 'J', 'J', 'A', 'S', 'O', 'N', 'D'],
        series: [
          [542, 443, 320, 780, 553, 453, 326, 434, 568, 400, 300, 200]

        ]
      };
      var optionsWebsiteViewsChart = {
        axisX: {
          showGrid: true,
        },
        low: 0,
        high: 1000,
        chartPadding: {
          top: 0,
          right: 5,
          bottom: 0,
          left: 0
        }
      };
      var responsiveOptions = [
        ['screen and (max-width: 640px)', {
          seriesBarDistance: 5,
          axisX: {
            labelInterpolationFnc: function (value) {
              return value[0];
            }
          }
        }]
      ];
      var websiteViewsChart = Chartist.Bar('#websiteViewsChart', dataWebsiteViewsChart, optionsWebsiteViewsChart, responsiveOptions);

      //start animation for the Emails Subscription Chart
      md.startAnimationForBarChart(websiteViewsChart);
    }
  }

  $(document).ready(function () {
    // Javascript method's body can be found in assets/js/demos.js
    initDashboardPageCharts();

  });
</script>
<script>
  $("#dashboard-link").addClass("active");

  $(".carousel-item:first").addClass("active");

  $("#carouselExampleIndicators:first").addClass("active");



</script>
{% endblock %}
{% block styles %}

{% endblock %}