{% extends "dashboard/layout.html" %}
{% load static %}
{% load to_price %}
{% load to_persian_date %}
{% block contents %}





<div class="row">

  {% if financial_profile %}
  <div class="col-md-4">
    <div class="card card-profile" id="profile-app" v-cloak>
      <div class="card-avatar">
        <a href="{{financial_profile.profile.get_absolute_url}}">
          <img class="img" src="{{financial_profile.profile.image}}" />


        </a>
      </div>
      <div class="card-body">
        {% if upload_profile_image_form %}


        <form enctype="multipart/form-data" action="{% url 'app:change_profile_image' %}" method="POST">
          {% csrf_token %}

          <input name="profile_id" value="{{financial_profile.profile.id}}" type="hidden" />



          <input type="file" accept="image/jpeg" @input="has_image_for_upload=true" required id="image" name="image"
            class="d-none btn btn-warning">


          <label for="image" v-if="!has_image_for_upload" class="btn btn-warning btn-round">
            <i class="material-icons">face</i>
            انتخاب تصویر</label>



          <button class="btn btn-success btn-round" v-show="has_image_for_upload" type="submit">

            <i class="material-icons">backup</i> آپلود تصویر
          </button>

        </form>

        {% endif %}
        <h6 class="card-category text-gray text-center">{{financial_profile.profile.region}}</h6>
        <h4 class="card-title text-center">{{financial_profile.profile.name}}</h4>
        {% if financial_profile.profile.bio %}

        <p class="card-description text-center">
          {{financial_profile.profile.bio}}
        </p>

        {% endif %}

        <a href="{{financial_profile.profile.get_absolute_url}}">
          بیشتر
        </a>
        &nbsp;&nbsp;&nbsp;
        <a href="{{financial_profile.get_absolute_url}}">
          تراکنش های مالی
        </a>
        <div>

        </div>

      </div>



    </div>

  </div>
  {% endif %}

  {% if report %}

  <div class="col-lg-8">
    <div class="card card-stats">
      <div class="card-header card-header-success card-header-icon">
        <div class="card-icon">
          <i class="fa fa-telegram"></i>
        </div>
        <h3 class="card-title">گزارش مالی</h3>
      </div>
      <div class="card-body">
        <table class="table">
          <thead class=" text-primary">
            <td>
              دسته بندی
            </td>


            <td>
              عنوان
            </td>


            <td>
              مبلغ
            </td>




          </thead>

          <tbody>
            {% for financial_report in report.financial_reports %}
            <tr>
              <td>

                {{financial_report.title}}


              </td>

              <td>
                <a href="{{financial_document.get_absolute_url}}">
                  {{financial_report.amount|to_price}}
                </a>

              </td>


              <td>
                {{financial_report.amount|to_price}}
              </td>

            </tr>
            {% endfor %}
          </tbody>
        </table>


      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">date_range</i>۲۴ ساعت اخیر
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% if financial_documents %}

  <div class="col-md-8">
    <div class="card card-stats">
      <div class="card-header card-header-{{our_service.color}} card-header-icon">
        <div class="card-icon">
          <i class="material-icons">{{our_service.icon}}</i>
        </div>
        <h3 class="card-title">سند های مالی</h3>
      </div>
      <div class="card-body">
        <table class="table">
          <thead class=" text-primary">
            <td>
              دسته بندی
            </td>


            <td>
              عنوان
            </td>


            <td>
              مبلغ
            </td>




          </thead>

          <tbody>
            {% for financial_document in financial_documents %}
            <tr>
              <td>

                {{financial_document.category.title}}


              </td>

              <td>
                <a href="{{financial_document.get_absolute_url}}">
                  {{financial_document.title}}
                </a>

              </td>


              <td>
                {{financial_document.amount|to_price}}
              </td>

            </tr>
            {% endfor %}
          </tbody>
        </table>


      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">date_range</i>۲۴ ساعت اخیر
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% if financial_profile_list %}

  <div class="col-lg-12">
    <div class="card card-stats">
      <div class="card-header card-header-{{our_service.color}} card-header-icon">
        <div class="card-icon">
          <i class="material-icons">{{our_service.icon}}</i>
        </div>
        <h3 class="card-title">پروفایل های مالی</h3>
      </div>
      <div class="card-body">
        <table class="table">
          <thead class=" text-primary">
            <td>
              عنوان
            </td>


          </thead>

          <tbody>
            {% for financial_profile in financial_profile_list %}
            <tr>
              <td>
                <a href="{{financial_profile.get_absolute_url}}">
                  {{financial_profile.title}}
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>


      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">date_range</i>۲۴ ساعت اخیر
        </div>
      </div>
    </div>
  </div>
  {% endif %}


  {% if financial_year_list %}

  <div class="col-md-4">
    <div class="card card-stats">
      <div class="card-header card-header-danger card-header-icon">
        <div class="card-icon">
          <i class="fa fa-money"></i>
        </div>
        <h3 class="card-title">سال های مالی</h3>
      </div>
      <div class="card-body">
        <table class="table">


          <tbody>
            {% for financial_year in financial_year_list %}
            <tr>
              <td>
                <a href="{{financial_year.get_absolute_url}}">
                  {{financial_year.title}}
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>


      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">date_range</i>۲۴ ساعت اخیر
        </div>
      </div>
    </div>
  </div>
  {% endif %}


  {% if financial_account_list %}

  <div class="col-lg-12">
    <div class="card card-stats">
      <div class="card-header card-header-{{our_service.color}} card-header-icon">
        <div class="card-icon">
          <i class="material-icons">{{our_service.icon}}</i>
        </div>
        <h3 class="card-title">حساب های مالی</h3>
      </div>
      <div class="card-body">
        <table class="table">
          <thead class=" text-primary">
            <td>
              عنوان
            </td>


          </thead>

          <tbody>
            {% for financial_account in financial_account_list %}
            <tr>
              <td>
                <a href="{{financial_account.get_absolute_url}}">
                  {{financial_account.title}}
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        {% if perms.app.change_ourservice %}
        <a href="{{our_service.get_edit_url}}" class="btn btn-block btn-primary btn-round">
          <i class="material-icons">date_range</i>
          ویرایش</a>
        {% endif %}
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">date_range</i>۲۴ ساعت اخیر
        </div>
      </div>
    </div>
  </div>
  {% endif %}



  {% if financial_transaction_list %}

  <div class="col-md-8">
    <div class="card card-stats">
      <div class="card-header card-header-warning card-header-icon">
        <div class="card-icon">
          <i class="fa fa-address-card"></i>
        </div>
        <h3 class="card-title">تراکنش های مالی</h3>
      </div>
      <div class="card-body">
        <table class="table">
          <thead class=" text-primary">
            <td>
              عنوان
            </td>

            <td>
              بستانکار
            </td>

            <td>
              بدهکار
            </td>

            <td>
              مبلغ
            </td>

            <td>
              تاریخ
            </td>
          </thead>

          <tbody>
            {% for transaction in financial_transaction_list %}
            <tr>

              <td>

                <a href="{{transaction.get_absolute_url}}">
                  {{transaction.title}}
                </a>
              </td>
              <td>
                <a href="{{transaction.from_account.get_absolute_url}}">
                  {{transaction.from_account}}
                </a>

              </td>
              <td> <a href="{{transaction.to_account.get_absolute_url}}">

                  {{transaction.to_account}}
                </a>
              </td>
              <td>
                {{transaction.amount | to_price}}
              </td>

              <td>
                {{transaction.date_document | to_persian_date|safe}}
              </td>

            </tr>

            {% endfor %}
          </tbody>
        </table>

        {% if perms.app.change_ourservice %}
        <a href="{{our_service.get_edit_url}}" class="btn btn-block btn-primary btn-round">
          <i class="material-icons">date_range</i>
          ویرایش</a>
        {% endif %}
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">date_range</i>۲۴ ساعت اخیر
        </div>
      </div>
    </div>
  </div>


  {% endif %}
</div>



{% endblock %}
{% block scripts %}

<script>
  $("#accounting-link").addClass("active");


</script>
<script>
  let profile_app = new Vue({
    el: "#profile-app",
    data: {
      has_image_for_upload: false,

    }
  })
</script>

{% endblock %}
{% block styles %}

{% endblock %}