{% load static %}

<li class="nav-item " id="dashboard-link">
    <a class="nav-link" href="{% url 'app:home' %}">
        <i class="material-icons">home</i>
        <p>خانه</p>
    </a>
</li>

<li class="nav-item " id="dashboard-link">
    <a class="nav-link" href="{% url 'app:home' %}">
        <i class="material-icons">dashboard</i>
        <p>دشبورد</p>
    </a>
</li>










<li class="nav-item " id="temp-link">
    <a class="nav-link" href="">
        
        <p>&nbsp</p>
    </a>
</li>


