{% load static %}

<li class="nav-item " id="dashboard-link">
    <a class="nav-link" href="{% url 'app:home' %}">
        <i class="material-icons">home</i>
        <p>خانه</p>
    </a>
</li>

<li class="nav-item " id="dashboard-link">
    <a class="nav-link" href="{% url 'app:home' %}">
        <i class="material-icons">home</i>
        <p>دشبورد</p>
    </a>
</li>

<li class="nav-item " id="dashboard-blogs-link">
    <a class="nav-link" href="{% url 'app:blogs' %}">
        <i class="material-icons">rss_feed</i>
        <p>اخبار</p>
    </a>
</li>

<li class="nav-item " id="dashboard-faq-link">
    <a class="nav-link" href="{% url 'app:faq' %}">
        <i class="material-icons">help_outline</i>
        <p>پرسش های متداول</p>
    </a>
</li>



<li class="nav-item " id="pusher-link">
    <a class="nav-link" href="{% url 'pusher:home' %}">
        <i class="material-icons">send</i>
        <p>پوشر</p>
    </a>
</li>


<li class="nav-item " id="market-link">
    <a class="nav-link" href="{% url 'market:home' %}">
        <i class="material-icons">store</i>
        <p>مارکت</p>
    </a>
</li>


<li class="nav-item " id="phonebook-link">
    <a class="nav-link" href="{% url 'phonebook:home' %}">
        <i class="material-icons">contact_phone</i>
        <p>دفترچه تلفن</p>
    </a>
</li>






<li class="nav-item " id="project-manager-link">
    <a class="nav-link" href="{% url 'manager:home' %}">
        <i class="material-icons">content_paste</i>
        <p>پروژه</p>
    </a>
</li>

<li class="nav-item " id="temp-link">
    <a class="nav-link" href="">
        
        <p>&nbsp</p>
    </a>
</li>


