{% load static %}

<li class="nav-item " id="dashboard-link">
    <a class="nav-link" href="{% url 'app:home' %}">
        <i class="material-icons">home</i>
        <p>خانه</p>
    </a>
</li>

{% if profile %}
  
<li class="nav-item " id="dashboard-profile-link">
    <a class="nav-link" href="{% url 'app:profile' profile.id %}">
       
        <i class="fa fa-user"></i>
        <p>{{profile.name}}</p>
    </a>
</li>
<li class="nav-item " id="project-manager-link">
    <a class="nav-link" href="{% url 'projectmanager:home'%}">
       
        <i class="fa fa-user"></i>
        <p>مدیریت پروژه</p>
    </a>
</li>
<li class="nav-item " id="chart-link">
    <a class="nav-link" href="{% url 'projectmanager:chart'%}">
       
        <i class="fa fa-user"></i>
        <p>چارت سازمانی</p>
    </a>
</li>
<li class="nav-item " id="chart-link">
    <a class="nav-link" href="{% url 'app:manager'%}">
        <i class="fa fa-user"></i>
         <p>پیام رسان</p>
    </a>
</li>

{% endif %}
<li class="nav-item " id="automation-link">
    <a class="nav-link" href="{% url 'automation:home' %}">
        <i class="material-icons">flash_auto</i>
        <p>اتوماسیون</p>
    </a>
</li>


<li class="nav-item " id="accounting-link">
    <a class="nav-link" href="{% url 'accounting:home' %}">
        <i class="fa fa-money"></i>
        <p>حسابداری</p>
    </a>
</li>





<li class="nav-item " id="transport-link">
    <a class="nav-link" href="{% url 'transport:home' %}">
        <i class="fa fa-bus"></i>
        <p>مدیریت ماشین آلات
        </p>
    </a>
</li>












<li class="nav-item " id="temp-link">
    <a class="nav-link" href="">
        
        <p>&nbsp</p>
    </a>
</li>


