{% load static %}
{% load to_price_pure %}


<!-- Header -->

<header class="header">

	<!-- Top Bar -->

	<div class="top_bar">
		<div class="container">
			<div class="row">
				<div class="col d-flex flex-row">
					<div class="top_bar_contact_item">
						<div class="top_bar_icon">
							
							<img src="{% static 'one-tech/images/phone.png' %}" alt=""></div>
							<a href="tel://{{app.mobile.value}}">	{{app.mobile.value}}</a>
					</div>
					<div class="top_bar_contact_item">
						<div class="top_bar_icon"><img src="{% static 'one-tech/images/mail.png' %}" alt=""></div><a
							href="mailto:{{app.email.value}}">{{app.email.value}}</a>
					</div>
					<div class="top_bar_content ml-auto">
						<div class="top_bar_menu">

						</div>
						<div class="top_bar_user leo-rtl">
							{% if profile %}
							<div><a href="{{profile.get_absolute_url}}" class="leo-farsi"><img
										class="rounded-circle mx-2" src="{{profile.image}}" alt="" width="36px"
										height="36px">{{profile.name}}</a></div>
							<div><a href="{% url 'authentication:logout' %}" class="leo-farsi mx-2">خروج</a></div>

							{% else %}
							
							<div><a href="{% url 'authentication:login' %}" class="leo-farsi">ثبت نام</a></div>
							<div class="user_icon"><img src="{% static 'one-tech/images/user.svg' %}" alt=""></div>

							<div><a href="{% url 'authentication:login' %}" class="leo-farsi">ورود</a></div>

							{% endif %}

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Header Main -->

	<div class="header_main">
		<div class="container">
			<div class="row leo-rtl">

				<!-- Logo -->
				<div class="col-lg-2 col-sm-3 col-3 order-1">
					<div class="logo_container">
						<div class="logo justify-content-center text-center">
							<a href="{% url 'app:home' %}">
								<img src="{{app.logo.image}}" height="64px" alt="">
							</a></div>
					</div>
				</div>

				<!-- Search -->
				<div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">
					<div class="header_search">
						<div class="header_search_content">
							<div class="header_search_form_container">
								<form action="{% url 'market:search' %}" method="POST" class="header_search_form clearfix">
								{% csrf_token %}
									<input type="search" name="search_for" required="required" class="header_search_input"
										style="float: right;padding-right: 15px;padding-left: 5px;"
										placeholder="جستجو ...">
									<div class="custom_dropdown d-none" style="float: right;">
										<div class="custom_dropdown_list">
											<span class="custom_dropdown_placeholder clc leo-farsi">

												دسته بندی محصولات</span>
											<i class="fas fa-chevron-down"></i>
											<ul class="custom_list clc">

												{% for category in master_categories %}
												<li><a class="clc" href="#"> <span class="text-right leo-farsi">

															{{category.name}}
														</span>
													</a></li>

												{% endfor %}

											</ul>
										</div>
									</div>
									<button type="submit" class="header_search_button2 trans_300" value="Submit"><img
											src="{% static 'one-tech/images/search.png' %}" alt=""></button>
								</form>
							</div>
						</div>
					</div>
				</div>
				{% if active_customer %}
				<!-- Wishlist -->
				<div class="col-lg-4 col-9 order-lg-3 order-2 text-lg-left text-right">
					<div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
						<a href="{% url 'market:my_list' %}">
							<div class="wishlist d-flex flex-row align-items-center justify-content-end"
								style="margin:0 0 0 30px;">
								<div class="wishlist_icon">
									<img src="{% static 'one-tech/images/heart.png' %}" alt="">
								</div>
								<div class="wishlist_content " style="margin: 0 10px 0 0 ;">

									<div class="wishlist_text">
										<span class="leo-farsi">لیست من</span>
									</div>
									<div class="wishlist_count text-center">{{my_list|length}}

									</div>

								</div>
							</div>
						</a>
						{% if cart %}
						<!-- Cart -->
						<div class="cart">
							<a href="{{active_customer.get_cart_url}}">
								<div class="cart_container d-flex flex-row align-items-center justify-content-end"
									style="margin:0 0 0 30px;">

									<div class="cart_icon">
										<img src="{% static 'one-tech/images/cart.png' %}" alt="">
										<div class="cart_count"><span>{{cart.lines | length}}</span></div>
									</div>
									<div class="cart_content" style="margin: 0 10px 0 0 ;">
										<div class="cart_text"><span
												class="leo-farsi">سبد خرید</span></div>
										<div class="cart_price text-center leo-farsi">{{cart.total | to_price_pure}} ت</div>
									</div>

								</div>
							</a>
						</div>
						{% endif %}

					</div>
				</div>
				{% endif %}

			</div>
		</div>
	</div>

	{% include "one-tech/includes/main-navigation.html" %}



</header>