{% load static %}
<!-- Newsletter -->

<div class="newsletter">
	<div class="container">
		<div class="row">
			<div class="col">
				<div
					class="newsletter_container d-flex flex-lg-row flex-column align-items-lg-center align-items-center justify-content-lg-center justify-content-center">
					<div class="newsletter_title_container">
						<div class="newsletter_icon">
							<a href="{% url 'authentication:login' %}"><img
									src="{% static 'one-tech/images/send.png' %}" alt="">
							</a></div>
						<div class="newsletter_title text-center leo-farsi">ثبت نام کنید</div>
						<div class="newsletter_textleo-farsi">
							<p class=" text-center ">برای استفاده از سرویس آنلاین فروش ثبت نام کنید</p>
						</div>
					</div>
			
					
				</div>
			</div>
		</div>
	</div>
</div>