{% extends "dashboard/layout.html" %}
{% load static %}
{% load to_price %}
{% block contents %}





<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card card-stats">
            <div class="card-header card-header-{{issue.color}} card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">{{issue.icon}}</i>
                </div>
                {% if issue.pretitle %}
                <p class="card-category">{{issue.pretitle}}</p>

                {% endif %}
                <h3 class="card-title">{{issue.title}}
                    {% if issue.posttitle %}
                    <p class="card-category">{{issue.posttitle}}</p>

                    {% endif %}

                </h3>
            </div>
            <div class="card-body">



                <p>مشکل مربوط به </p>

                <a href="{{issue.issue_for.get_absolute_url}}" class="mb-4">
                    <h5>
                        {{issue.issue_for.get_colored_icon|safe}}
                        {{issue.issue_for.title}}
                    </h5>
                </a>
                {% if issue.short_description %}

                <div class="mb-4 text-secondary">
                    {{issue.short_description|safe}}
                </div>
                {% endif %}
            </div>
            <div class="card-footer">
                <div class="stats">
                    {% if perms.projectmanager.change_page  and issue.get_edit_url%}
                    <i class="material-icons text-danger">link</i>

                    <a href="{{issue.get_edit_url}}">

                        ویرایش </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">get_app</i>
                </div>

                <p class="card-category">

                    {{issue.title}}
                </p>


                <h3 class="card-title">
                    فایل ها و لینک ها


                </h3>
            </div>
            <div class="card-body">

                <h5 class="mt-4">
                    فایل ها
                </h5>
                {% for document in issue.documents.all %}
                <div>
                    <a class="ml-3 mb-3 " href="{{document.get_download_url}}">
                        {{document.get_tag_icon|safe}}

                        {{document.title}}
                    </a>
                    {% if perms.app.change_document %}
                    <a class="btn btn-info  btn-link" title="ویرایش" href="{{document.get_edit_url}}">
                        <i class="fa fa-edit"></i>
                    </a>
                    {% endif %}
                </div>
                {% endfor %}
    {% if add_document_form %}
                <form action="{% url 'projectmanager:add_document' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="manager_page_id" value="{{issue.id}}">
                    <input placeholder="عنوان برای فایل جدید" type="text" name="title" class="form-control" required>
                    <button type="submit" class="btn btn-primary">تایید</button>
                </form>
                {% endif %}
<h5 class="mt-5">
    لینک ها
</h5>

                {% for link in issue.links.all %}
                <div>
                    <a target="_blank" class="ml-3 mb-3" href="{{link.url}}">
                        {{link.get_tag_icon|safe}}

                        {{link.title}}
                    </a>
                    {% if perms.app.change_link %}
                    <a class="btn btn-info btn-link" title="ویرایش" href="{{link.get_edit_url}}">
                        <i class="fa fa-edit"></i>
                    </a>
                    {% endif %}
                </div>
                {% endfor %}

            
                {% if add_link_form %}
                <form action="{% url 'projectmanager:add_link' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="manager_page_id" value="{{issue.id}}">
                    <input placeholder="عنوان برای لینک جدید" type="text" name="title" class="form-control" required>
                    <button type="submit" class="btn btn-primary">تایید</button>
                </form>
                {% endif %}



            </div>



            <div class="card-footer">
                <div class="stats">
                    {% if perms.projectmanager.change_project  and issue.get_edit_url%}
                    <i class="material-icons text-danger">link</i>

                    <a href="{{issue.get_edit_url}}">

                        ویرایش </a>
                    {% endif %}
                </div>
            </div>
        </div>



    </div>



    {% if issue.description %}
    <div class="col-12">
        <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">settings</i>
                </div>
                {% if material.category %}
                <p class="card-category">
                    <a href="{{issue.category.get_absolute_url}}">
                        {{issue.category}}</a></p>

                {% endif %}


                <p class="card-category">{{issue.title}}</p>



                <h3 class="card-title">توضیحات کامل


                </h3>
            </div>
            <div class="card-body">



                {{issue.description|safe}}


            </div>
            <div class="card-footer">
                <div class="stats">
                    {% if perms.projectmanager.change_issue  and issue.get_edit_url%}
                    <i class="material-icons text-danger">link</i>

                    <a href="{{issue.get_edit_url}}">

                        ویرایش </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}

</div>


{% endblock %}
{% block scripts %}
<script>

    $(document).ready(function () {
        // Javascript method's body can be found in assets/js/demos.js
        //     initDashboardPageCharts();

    });
</script>
<script>
    $("#project-manager-link").addClass("active");





</script>
{% endblock %}
{% block styles %}

{% endblock %}