{% extends "dashboard/layout.html" %}
{% load static %}
{% load to_price %}
{% load to_persian_date %}
{% load to_material_request_status_color %}
{% block contents %}





<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">description</i>
                </div>
                {% if material_request.pretitle %}
                <p class="card-category">{{material_request.pretitle}} </p>

                {% endif %}
                <h3 class="card-title">{{material_request.title}} </h3>
                {% if material_request.posttitle %}
                <p class="card-category">{{material_request.posttitle}}</p>

                {% endif %}

                </h3>
                <span
                    class="badge badge-{{material_request.status|to_material_request_status_color}}">{{material_request.status}}</span>
            </div>
            <div class="card-body">
                <a class="" href={{material_request.requested_material.get_absolute_url}}>
                 
                    <h5 class="my-3 text-primary">
                       <i class="fa fa-object-group mx-3"></i>    {{material_request.requested_material.title}}
                    </h5>
                </a>
                <p>پروژه </p>
                <a class="" href={{material_request.for_project.get_absolute_url}}>
                               
                                  <h6 class="my-3 text-primary">
                                      <i class="material-icons">build</i>   {{material_request.for_project.full_title}}
                                  </h6>
                              </a>





                {% if material_request.contractor %}
                <p>پیمانکار درخواست کننده</p>
                  <a class="" href={{material_request.contractor.get_absolute_url}}>
                                 
                                    <h6 class="my-3 text-primary">
                                        <i class="material-icons">engineering</i>   {{material_request.contractor.title}}
                                    </h6>
                                </a>
                {% endif %}

                {% if material_request.employee %}
<p>کارشناس درخواست کننده</p>
  <a class="" href={{material_request.employee.get_absolute_url}}>
                 
                    <h6 class="my-3 text-primary">
                        <i class="material-icons">engineering</i>   {{material_request.employee.profile.name}}
                    </h6>
                </a>
{% endif %}

                


                <p>{{material_request.description}}</p>



            </div>
            <div class="card-footer">
                <div class="stats">
                    {% if perms.projectmanager.change_materialrequest and material_request.get_edit_url%}
                    <i class="material-icons text-danger">link</i>

                    <a href="{{material_request.get_edit_url}}">

                        ویرایش </a>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">assignment</i>
                </div>
                {% if material_request.pretitle %}
                <p class="card-category">{{material_request.pretitle}}</p>

                {% endif %}
                <h3 class="card-title">امضا شده توسط
                    {% if material_request.posttitle %}
                    <p class="card-category">{{material_request.posttitle}}</p>

                    {% endif %}

                </h3>
            </div>
            <div class="card-body">





                {% for signature in material_request.signatures.all %}

                <div class="row">
                    <div class="col-lg-12">
                        <p class="mb-0">
                            <a href="{{signature.profile.get_absolute_url}}">
                                <span class="stats text-success mx-2">

                                    <i class="material-icons">done</i>
                                    {{signature.profile.name}}

                                </span>
                            </a>

                            &nbsp;&nbsp;
                            <small>

                                {{signature.date_added|to_persian_date|safe}}
                            </small>
                            &nbsp;&nbsp;<span class="badge badge-{{signature.status|to_material_request_status_color}}">
                                {{signature.status|safe}}
                            </span>



                        </p>

                    </div>
                    <div class="col-lg-12 mb-3">
                        <p> <small class="text-secondary mx-5"> {{signature.description}} </small></p>
                    </div>

                </div>

                {% endfor %}
            </div>
            <div class="card-footer">
                <div class="stats">
                    {% if perms.projectmanager.change_materialrequest and material_request.get_edit_url%}
                    <!-- <i class="material-icons text-danger">link</i>

                    <a href="{{material_request.get_edit_url}}">

                        ویرایش </a> -->
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
    {% if sign_material_request_form %}
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">assignment_turned_in</i>
                </div>

                <p class="card-category">امضای دیجیتال</p>


                <h3 class="card-title">{{page.title}}



                </h3>
            </div>
            <div class="card-body">


                <form action="{% url 'projectmanager:sign_material_request' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="material_request_id" value="{{material_request.id}}">
                    وضعیت :
                    <select class="form-control" name="status" id="">
                        {% for status_option in  status_options %}

                        <option value="{{status_option}}">{{status_option}}</option>
                        {% endfor %}
                    </select>
                    <input placeholder="توضیحات" class="form-control" type="text" name="description">

                    <input type="submit" class="btn btn-primary" value="امضا">
                </form>


            </div>



            <div class="card-footer">
                <div class="stats">
                    {% if perms.projectmanager.change_project  and page.get_edit_url%}
                    <i class="material-icons text-danger">link</i>

                    <a href="{{page.get_edit_url}}">

                        ویرایش </a>
                    {% endif %}
                </div>
            </div>
        </div>



    </div>
    {% endif %}


</div>


{% endblock %}
{% block scripts %}
<script>


    $(document).ready(function () {
        // Javascript method's body can be found in assets/js/demos.js
        // initDashboardPageCharts();

    });
</script>
<script>
    $("#project-manager-link").addClass("active");





</script>
{% endblock %}
{% block styles %}

{% endblock %}