{% extends "dashboard/layout.html" %}
{% load static %}
{% load to_price %}
{% block contents %}





<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">settings</i>
                </div>
                {% if material.category %}
                <p class="card-category">
                    <a href="{{material.category.get_absolute_url}}">
                    {{material.category}}</a></p>

                {% endif %}

                {% if material.pretitle %}
                <p class="card-category">{{material.pretitle}}</p>

                {% endif %}
                <h3 class="card-title">{{material.title}}
                    {% if material.posttitle %}
                    <p class="card-category">{{material.posttitle}}</p>

                    {% endif %}
                    {% if material.model %}
                    <p class="card-category">{{material.model}}</p>
    
                    {% endif %}
                </h3>
            </div>
            <div class="card-body">

                {% if material.description %}
                <p class="">{{material.description|safe}}</p>

                {% endif %}
               
            </div>
            <div class="card-footer">
                <div class="stats">
                    {% if perms.projectmanager.change_project  and material.get_edit_url%}
                    <i class="material-icons text-danger">link</i>

                    <a href="{{material.get_edit_url}}">

                        ویرایش </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

   
    

</div>


{% endblock %}
{% block scripts %}
<script>
   
    $(document).ready(function () {
        // Javascript method's body can be found in assets/js/demos.js
    //  initDashboardPageCharts();

    });
</script>
<script>
    $("#project-manager-link").addClass("active");





</script>
{% endblock %}
{% block styles %}

{% endblock %}