{% extends "projectmanager/page.html" %} 
{% load static %} 
{% load to_price %} 

                  
{% block content %}

                {% endblock %}


{% block first %}



    <div class="col-12">
        <div class="card card-stats">
            <div class="card-header card-header-{{category.color}} card-header-icon">
                <div class="card-icon">
                    {{category.get_icon|safe}}
                </div>

                {% if category.parent %}
                <p class="card-category">
                    {{category.parent.get_breadcrumb_url | safe}}
                </p>
                {% endif %}

                <p class="card-category">{{category.title}}</p>


                <h3 class="card-title">زیر مجموعه
                </h3>
            </div>
            <div class="card-body">

           

                {% for material_category in category.childs %}
                <a href="{{material_category.get_absolute_url}}">
                    <h5>
                        <i class="material-icons">category
                        </i> {{material_category.title}}
                    </h5>
                </a>
                {% endfor %}
               
              {% if add_material_category_form %}
                <div>
                    <form action="{% url 'projectmanager:add_material_category' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="parent_id" value="{{category.id}}">
                        <input placeholder="نام دسته جدید" type="text" name="title" class="form-control" id="">
                        <button class="btn btn-success" type="submit">افزودن</button>
                    </form>
                </div>
              {% endif %}
            </div>
            <div class="card-footer">
                <div class="stats">
                    {% if perms.projectmanager.change_category and category.get_edit_url%}
                    <i class="material-icons text-danger">settings</i>

                    <a href="{{category.get_edit_url}}">

                        ویرایش </a> {% endif %} {% if perms.projectmanager.add_material %}
                    <i class="material-icons text-danger">settings</i>

                    <a href="{{ADMIN_URL}}{{APP_NAME}}/material/add/">

                        افزودن متریال  </a> {% endif %}
                </div>
            </div>
        </div>
    </div>
   
    <div class="col-12">
        <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">category</i>
                </div>



                <p class="card-category">{{category.title}}</p>


                <h3 class="card-title">متریال ها


                </h3>
            </div>
            <div class="card-body">

{% if category.materials %}
  

                {% for material in category.materials %}
                <a href="{{material.get_absolute_url}}">
                    <h5>
                        <i class="material-icons">category
                        </i> {{material.title}}
                    </h5>
                </a>
                {% endfor %}

                {% endif %}

                {% if add_material_form %}
                <div>
                    <form action="{% url 'projectmanager:add_material' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="category_id" value="{{category.id}}">
                        <input placeholder="نام متریال جدید" type="text" name="title" class="form-control" id="">
                        <button class="btn btn-success" type="submit">افزودن</button>
                    </form>
                </div>
              {% endif %}

            </div>
            <div class="card-footer">
                <div class="stats">
                    {% if perms.projectmanager.change_category and category.get_edit_url%}
                    <i class="material-icons text-danger">settings</i>

                    <a href="{{category.get_edit_url}}">

                        ویرایش </a> {% endif %}
                </div>
            </div>
        </div>
    </div>
    

    



{% endblock %}