{% extends "dashboard/layout.html" %}
{% load static %}
{% load to_price %}
{% load to_persian_date %}
{% load to_material_request_status_color %}
{% block contents %}





<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card card-stats">
            <div class="card-header card-header-{{material.color}} card-header-icon">
                <div class="card-icon">
                    {{material.get_icon|safe}}
                </div>
                {% if material.category %}
                <p class="card-category">
                    {% if material.category.parent %} {{material.category.get_breadcrumb_url |safe}} {% endif %}


                </p>

                {% endif %} {% if material.pretitle %}
                <p class="card-category">{{material.pretitle}}</p>

                {% endif %}
                <h3 class="card-title">{{material.title}}
                </h3>
                {% if material.posttitle %}
                <p class="card-category">{{material.posttitle}}</p>

                {% endif %} {% if material.model %}
                <p class="card-category">{{material.model}}</p>

                {% endif %}     
                  {% if materialobject.serial_no %}
                <p class="card-category leo-rtl text-right text-success"> سریال {{materialobject.serial_no}}</p>

                {% endif %}
                {% if materialobject.package_no %}
                <p class="card-category leo-rtl text-right text-primary">#  {{materialobject.package_no}}</p>

                {% endif %}
                {% if materialobject.package_name %}
                <p class="card-category leo-ltr text-right text-info"> {{materialobject.package_name}}</p>

                {% endif %}
            </div>
            <div class="card-body">

                {% if material.brand %}
                <p class="mb-4">
                    برند :
                    <a href="{{material.brand.get_absolute_url}}">
                        <i class="material-icons">dashboard</i> {{material.brand.title}}
                    </a>
                </p>

                {% endif %} {% if material.short_description %}
                <div class=" text-secondary">{{material.short_description|safe}}</div>

                {% endif %}

            </div>
            <div class="card-footer">
                <div class="stats">
                    {% if perms.projectmanager.change_project and material.get_edit_url%}
                    <i class="material-icons text-danger">link</i>

                    <a href="{{material.get_edit_url}}">

                        ویرایش </a> {% endif %}
                </div>
            </div>
        </div>
    </div>


    {% if material.images.all %}
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">settings</i>
                </div>



                <p class="card-category">{{material.title}}</p>


                <h3 class="card-title">تصاویر

                </h3>
            </div>
            <div class="card-body">

                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">
                        {% for material_img in material.images.all %}
                        <div class="carousel-item card">
                            <img src="{{ material_img.image }}" class="w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h1 class="display-4">{{ material_img.name }}</h1>
                                <p class="lead">
                                    <a target="_blank" class="" href="{{ material_img.image }}" role="button">
                                        <i class="material-icons">home</i>
                                    </a>
                                </p>
                                {% if perms.projectmanager.change_image %}
                                <p class="lead">
                                    <a class="btn btn-warning btn-link btn-sm" href="{{ material_img.get_edit_url }}"
                                        role="button">ویرایش تصویر</a>
                                </p>
                                {% endif %}

                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>







            </div>
            <div class="card-footer">
                <div class="stats">
                    {% if perms.projectmanager.add_image%}
                    <i class="material-icons text-danger">link</i>

                    <a href="{{ADMIN_URL}}{{APP_NAME}}/image/add/">

                        افزودن تصویر </a> {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">get_app</i>
                </div>

                <p class="card-category">

                    {{material.title}}
                </p>


                <h3 class="card-title">
                    فایل ها و لینک ها


                </h3>
            </div>
            <div class="card-body">

                <h5 class="mt-4">
                    فایل ها
                </h5>
                {% for document in material.documents.all %}
                <div>
                    <a class="ml-3 mb-3 " href="{{document.get_download_url}}">
                        {{document.get_icon_tag|safe}}

                        {{document.title}}
                    </a> {% if perms.app.change_document %}
                    <a class="btn btn-info  btn-link" title="ویرایش" href="{{document.get_edit_url}}">
                        <i class="fa fa-edit"></i>
                    </a>
                    {% endif %}
                </div>
                {% endfor %} {% if add_document_form %}
                <form action="{% url 'projectmanager:add_document' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="manager_page_id" value="{{material.id}}">
                    <input placeholder="عنوان برای فایل جدید" type="text" name="title" class="form-control" required>
                    <button type="submit" class="btn btn-primary">تایید</button>
                </form>
                {% endif %}
                <h5 class="mt-5">
                    لینک ها
                </h5>

                {% for link in material.links.all %}
                <div>
                    <a target="_blank" class="ml-3 mb-3" href="{{link.url}}">
                        {{link.get_icon_tag|safe}}

                        {{link.title}}
                    </a> {% if perms.app.change_link %}
                    <a class="btn btn-info btn-link" title="ویرایش" href="{{link.get_edit_url}}">
                        <i class="fa fa-edit"></i>
                    </a>
                    {% endif %}
                </div>
                {% endfor %} {% if add_link_form %}
                <form action="{% url 'projectmanager:add_link' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="manager_page_id" value="{{material.id}}">
                    <input placeholder="عنوان برای لینک جدید" type="text" name="title" class="form-control" required>
                    <button type="submit" class="btn btn-primary">تایید</button>
                </form>
                {% endif %}


            </div>



            <div class="card-footer">
                <div class="stats">
                    {% if perms.projectmanager.change_project and material.get_edit_url%}
                    <i class="material-icons text-danger">link</i>

                    <a href="{{material.get_edit_url}}">

                        ویرایش </a> {% endif %}
                </div>
            </div>
        </div>



    </div>
    {% if material.description %}
    <div class="col-12">
        <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">settings</i>
                </div>
                {% if material.category %}
                <p class="card-category">
                    <a href="{{material.category.get_absolute_url}}">
                        {{material.category}}</a></p>

                {% endif %}


                <p class="card-category">{{material.title}}</p>



                <h3 class="card-title">توضیحات کامل


                </h3>
            </div>
            <div class="card-body">



                {{material.description|safe}}


            </div>
            <div class="card-footer">
                <div class="stats">
                    {% if perms.projectmanager.change_project and material.get_edit_url%}
                    <i class="material-icons text-danger">link</i>

                    <a href="{{material.get_edit_url}}">

                        ویرایش </a> {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}


    {% if material.materialobject_set.all %}
    <!-- material objects  -->
    <div class="col-12">
        <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">settings</i>
                </div>


                <p class="card-category">{{material.title}}</p>




                <h3 class="card-title">

                    متریال موجود در انبار


                </h3>
            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table">

                        <thead>
                            <td>متریال</td>
                            <td>سریال</td>
                            <td>انبار</td>
                            <td>وضعیت</td>
                            <td>تاریخ</td>
                            <td>قفسه و ردیف</td>
                            <td></td>
                        </thead>
                        <tbody>
                            {% for material_object in material.materialobject_set.all %}
                            {% for material_in_stock in material_object.materialinstock_set.all %}
                            <tr>
                                <td><a
                                        href="{{material_in_stock.material_object.material.get_absolute_url}}">{{material_in_stock.material_object.material.title}}</a>
                                </td>
                                <td>
                                    <a href="{{material_in_stock.material_object.get_absolute_url}}">
                                    {{material_in_stock.material_object.serial_no}}</a>
                                </td>
                                <td><a
                                        href="{{material_in_stock.warehouse.get_absolute_url}}">{{material_in_stock.warehouse.title}}</a>
                                </td>
                                <td><span
                                        class="badge badge-{{material_request.status| to_material_request_status_color}}">{{material_request.status}}</span>
                                </td>
                                <td><small>
                                        {{material_in_stock.date_added|to_persian_date|safe}}
                                    </small>
                                </td>
                                <td>

                                    <span class="badge badge-info">&nbsp;قفسه {{material_in_stock.col}}&nbsp;</span>
                                    <span class="badge badge-warning">&nbsp;ردیف {{material_in_stock.row}}&nbsp;</span>
                                </td>
                                <td>

                                    <a class="btn btn-link btn-warning" href="{{material_in_stock.get_edit_url}}">
                                        <i class="fa fa-edit"></i>
                                    </a>

                                </td>
                            </tr>
                            {% endfor %}

                            {% endfor %}
                        </tbody>
                    </table>
                </div>


            </div>



            <div class="card-footer">
                <div class="stats">

                </div>
            </div>
        </div>

    </div>
    {% endif %}


</div>

{% block content %}
  
{% endblock %}

{% endblock %} {% block scripts %}
<script>
    $(document).ready(function () {
        // Javascript method's body can be found in assets/js/demos.js
        //  initDashboardPageCharts();

    });
</script>
<script>
    $("#project-manager-link").addClass("active");

    $(".carousel-item:first").addClass("active");

    $("#carouselExampleIndicators:first").addClass("active");
</script>
{% endblock %} {% block styles %} {% endblock %}