{% extends "dashboard/layout.html" %}
{% load static %}
{% load to_price %}
{% load to_persian_date %}
{% block contents %}





<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">settings</i>
                </div>
                {% if page.pretitle %}
                <p class="card-category">{{project.pretitle}}</p>

                {% endif %}
                <h3 class="card-title">{{project.title}}
                    {% if page.posttitle %}
                    <p class="card-category">{{project.posttitle}}</p>

                    {% endif %}

                </h3>
            </div>
            <div class="card-body">

                <div>
                    <small>   وضعیت پروژه : </small> <span class="badge badge-{{project.get_status_color}}">{{project.status}}</span>
                  </div>

{% if project.work_units.all %}
  <h4 class="mt-3">واحد های مرتبط با این پروژه</h4>
{% endif %}
<div class="ml-4">

                {% for work_unit in project.work_units.all %}

                
                <h5 class="mt-4"> <a class="d-block mb-2 text-primary" href="{{work_unit.get_absolute_url}}">
                        <i class="material-icons">settings</i>
                        {{work_unit.title}}</a>
                </h5>
               
              
                {% endfor %}
            </div>
            </div>
            <div class="card-footer">
                <div class="stats">
                    {% if perms.projectmanager.change_project  and project.get_edit_url%}
                    <i class="material-icons text-danger">link</i>

                    <a href="{{project.get_edit_url}}">

                        ویرایش </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if perms.projectmanager.view_pagelog %}
        <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">settings</i>
                </div>
               
                <p class="card-category">لاگ</p>

            
                <h3 class="card-title">{{project.title}}
                  
                    

                </h3>
            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table">
 
          <thead>
              <td>پروفایل</td>
              <td>اکشن</td>
              <td>تاریخ</td>
          </thead>
          <tbody>
              {% for page_log in project.pagelog_set.all %}
                <tr>
                    <td><a href="{{page_log.profile.get_absolute_url}}">{{page_log.profile.name}}</a></td>
                    <td>{{page_log.action}}</td>
                    <td>{{page_log.date_added|to_persian_date|safe}}</td>
                </tr>
              {% endfor %}
          </tbody>
      </table>
      </div>
      
                
            </div>



            <div class="card-footer">
                <div class="stats">
                    {% if perms.projectmanager.change_project  and project.get_edit_url%}
                    <i class="material-icons text-danger">link</i>

                    <a href="{{project.get_edit_url}}">

                        ویرایش </a>
                    {% endif %}
                </div>
            </div>
        </div>




    {% endif %}
    
    </div>
    {% if project.location %}
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">settings</i>
                </div>
               
                <p class="card-category">موقعیت</p>

            
                <h3 class="card-title">{{project.title}}
                  
                    

                </h3>
            </div>
            <div class="card-body">

      
      
      
      
      {{project.location|safe}}
      
            </div>



            <div class="card-footer">
                <div class="stats">
                    {% if perms.projectmanager.change_project  and project.get_edit_url%}
                    <i class="material-icons text-danger">link</i>

                    <a href="{{project.get_edit_url}}">

                        ویرایش </a>
                    {% endif %}
                </div>
            </div>
        </div>


    </div>


    {% endif %}


   


</div>


{% endblock %}
{% block scripts %}
<script>
    let initDashboardPageCharts = function () {

        if ($('#dailySalesChart').length != 0 || $('#completedTasksChart').length != 0 || $('#websiteViewsChart').length != 0) {
            /* ----------==========     Daily Sales Chart initialization    ==========---------- */

            dataDailySalesChart = {
                labels: ['شنبه', '1', '2', '3', '4', '5', 'جمعه'],
                series: [
                    [12, 60, 87, 17, 23, 18, 38]
                ]
            };

            optionsDailySalesChart = {
                lineSmooth: Chartist.Interpolation.cardinal({
                    tension: 1
                }),
                low: 0,
                high: 100, // creative tim: we recommend you to set the high sa the biggest value + something for a better look
                chartPadding: {
                    top: 0,
                    right: 0,
                    bottom: 0,
                    left: 0
                },
            }

            var dailySalesChart = new Chartist.Line('#dailySalesChart', dataDailySalesChart, optionsDailySalesChart);

            md.startAnimationForLineChart(dailySalesChart);



            /* ----------==========     Completed Tasks Chart initialization    ==========---------- */

            dataCompletedTasksChart = {
                labels: ['12p', '3p', '6p', '9p', '12p', '3a', '6a', '9a'],
                series: [
                    [230, 750, 100, 300, 280, 240, 200, 190]
                ]
            };

            optionsCompletedTasksChart = {
                lineSmooth: Chartist.Interpolation.cardinal({
                    tension: 0
                }),
                low: 0,
                high: 1000, // creative tim: we recommend you to set the high sa the biggest value + something for a better look
                chartPadding: {
                    top: 0,
                    right: 0,
                    bottom: 0,
                    left: 0
                }
            }

            var completedTasksChart = new Chartist.Line('#completedTasksChart', dataCompletedTasksChart, optionsCompletedTasksChart);

            // start animation for the Completed Tasks Chart - Line Chart
            md.startAnimationForLineChart(completedTasksChart);


            /* ----------==========     Emails Subscription Chart initialization    ==========---------- */

            var dataWebsiteViewsChart = {
                labels: ['J', 'F', 'M', 'A', 'M', 'J', 'J', 'A', 'S', 'O', 'N', 'D'],
                series: [
                    [542, 443, 320, 780, 553, 453, 326, 434, 568, 400, 300, 200]

                ]
            };
            var optionsWebsiteViewsChart = {
                axisX: {
                    showGrid: true,
                },
                low: 0,
                high: 1000,
                chartPadding: {
                    top: 0,
                    right: 5,
                    bottom: 0,
                    left: 0
                }
            };
            var responsiveOptions = [
                ['screen and (max-width: 640px)', {
                    seriesBarDistance: 5,
                    axisX: {
                        labelInterpolationFnc: function (value) {
                            return value[0];
                        }
                    }
                }]
            ];
            var websiteViewsChart = Chartist.Bar('#websiteViewsChart', dataWebsiteViewsChart, optionsWebsiteViewsChart, responsiveOptions);

            //start animation for the Emails Subscription Chart
            md.startAnimationForBarChart(websiteViewsChart);
        }
    }

    $(document).ready(function () {
        // Javascript method's body can be found in assets/js/demos.js
        initDashboardPageCharts();

    });
</script>
<script>
    $("#project-manager-link").addClass("active");





</script>
{% endblock %}
{% block styles %}

{% endblock %}