{% extends "dashboard/layout.html" %}
{% load static %}
{% load to_price %}
{% load to_persian_date %}
{% load to_material_request_status_color %}
{% block contents %}





<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">build</i>
                </div>
                {% if project.parent %}
                <p class="card-category">
                    <a href="{{project.parent.get_absolute_url}}">
                        {{project.parent.full_title}}
                    </a>
                </p>

                {% endif %}
                {% if page.pretitle %}
                <p class="card-category">{{project.pretitle}}</p>

                {% endif %}

                <h3 class="card-title">{{project.title}}
                    {% if page.posttitle %}
                    <p class="card-category">{{project.posttitle}}</p>

                    {% endif %}

                </h3>
            </div>
            <div class="card-body">

                <div>
                    <small> وضعیت پروژه : </small> <span
                        class="badge badge-{{project.get_status_color}}">{{project.status}}</span>
                </div>
                {% if project.childs %}
                <h4 class="mt-4">ریز پروژه ها</h4>

                <div class="ml-4 mb-3">
                    {% for project in  project.childs %}
                    <h6 class="mb-3">
                        <a href="{{project.get_absolute_url}}">
                            <i class="material-icons">build</i>

                            {{project.title}}
                        </a></h6>
                    {% endfor %}
                </div>
                {% endif %}
                {% if project.contractors.all %}
                <h4 class="mt-4">پیمانکار ها</h4>

                <div class="ml-4 mb-3">
                    {% for contractor in  project.contractors.all %}
                    <h6 class="mt-4">
                        <a class="d-block mb-2 text-primary" href="{{contractor.profile.get_absolute_url}}">
                            <i class="material-icons">engineering</i>
                            {{contractor.title}}
                        </a>
                    </h6>

                    {% endfor %}
                </div>
                {% endif %}
                {% if project.work_units.all %}
                <h4 class="mt-4">واحد های مرتبط با این پروژه</h4>
                {% endif %}
                <div class="ml-4 mb-3">

                    {% for work_unit in project.work_units.all %}


                    <h6 class="mt-4"> <a class="d-block mb-2 text-primary" href="{{work_unit.get_absolute_url}}">
                            <i class="material-icons">settings</i>
                            {{work_unit.title}}</a>
                    </h6>


                    {% endfor %}
                </div>
            </div>
            <div class="card-footer">
                <div class="stats">
                    {% if perms.projectmanager.change_project  and project.get_edit_url%}
                    <i class="material-icons text-danger">link</i>

                    <a href="{{project.get_edit_url}}">

                        ویرایش </a>
                    {% endif %}


                    {% if perms.projectmanager.add_project %}
                    <i class="mx-5 material-icons text-danger">link</i>

                    <a href="{{ADMIN_URL}}{{APP_NAME}}/project/add/">

                        افزودن پروژه جدید </a>
                    {% endif %}

                </div>
            </div>
        </div>
        {% if perms.projectmanager.view_pagelog %}
        <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">settings</i>
                </div>

                <p class="card-category">لاگ</p>


                <h3 class="card-title">{{project.title}}



                </h3>
            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table">

                        <thead>
                            <td>پروفایل</td>
                            <td>اکشن</td>
                            <td>تاریخ</td>
                        </thead>
                        <tbody>
                            {% for page_log in project.pagelog_set.all %}
                            <tr>
                                <td><a href="{{page_log.profile.get_absolute_url}}">{{page_log.profile.name}}</a></td>
                                <td>{{page_log.action}}</td>
                                <td>{{page_log.date_added|to_persian_date|safe}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>


            </div>



            <div class="card-footer">
                <div class="stats">

                </div>
            </div>
        </div>




        {% endif %}

    </div>
    {% if project.location %}
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">settings</i>
                </div>

                <p class="card-category">موقعیت</p>


                <h3 class="card-title">{{project.title}}



                </h3>
            </div>
            <div class="card-body">





                {{project.location|safe}}

            </div>



            <div class="card-footer">
                <div class="stats">
                    {% if perms.projectmanager.change_project  and project.get_edit_url%}
                    <i class="material-icons text-danger">link</i>

                    <a href="{{project.get_edit_url}}">

                        ویرایش </a>
                    {% endif %}
                </div>
            </div>
        </div>


    </div>


    {% endif %}



    <div class="col-12">
        <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">settings</i>
                </div>


                <p class="card-category">{{project.title}}</p>




                <h3 class="card-title">

                    درخواست متریال


                </h3>
            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table">

                        <thead>
                            <td>متریال</td>
                            <td>پرسنل</td>
                            <td>پیمانکار</td>
                            <td>وضعیت</td>
                            <td>تاریخ</td>
                            <td>تعداد</td>
                            <td></td>
                        </thead>
                        <tbody>
                            {% for material_request in project.materialrequest_set.all %}
                            <tr>
                                <td><a
                                        href="{{material_request.requested_material.get_absolute_url}}">{{material_request.requested_material.title}}</a>
                                </td>
                                <td><a
                                        href="{{material_request.employee.profile.get_absolute_url}}">{{material_request.employee.profile.name}}</a>
                                </td>
                                <td><a
                                        href="{{material_request.contractor.profile.get_absolute_url}}">{{material_request.contractor.title}}</a>
                                </td>
                                <td><span
                                        class="badge badge-{{material_request.status| to_material_request_status_color}}">{{material_request.status}}</span>
                                </td>
                                <td><small>
                                        {{material_request.date_added|to_persian_date|safe}}
                                    </small>
                                </td>
                                <td>{{material_request.quantity}} {{material_request.unit_name}}</td>
                                <td>
                                    <a class="btn btn-link btn-warning" href="{{material_request.get_edit_url}}">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>


            </div>



            <div class="card-footer">
                <div class="stats">

                </div>
            </div>
        </div>

    </div>
    <div class="cao-12">


    </div>


</div>


{% endblock %}
{% block scripts %}
<script>

    $(document).ready(function () {
        // Javascript method's body can be found in assets/js/demos.js
        // initDashboardPageCharts();

    });
</script>
<script>
    $("#project-manager-link").addClass("active");





</script>
{% endblock %}
{% block styles %}

{% endblock %}