{% extends "dashboard/layout.html" %}
{% load static %}
{% load to_price %}
{% load to_persian_date %}
{% load to_material_request_status_color %}
{% block contents %}





<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card card-stats">
            <div class="card-header card-header-{{project.color}} card-header-icon">
                <div class="card-icon">
                    {{project.get_icon|safe}}
                </div>
                {% if project.parent %}
                <div class="card-category">
                    {{project.parent.get_breadcrumb_url|safe}}

                </div>

                {% endif %}
                {% if page.pretitle %}
                <p class="card-category">{{project.pretitle}}</p>

                {% endif %}

                <h3 class="card-title">{{project.title}}
                    {% if page.posttitle %}
                    <p class="card-category">{{project.posttitle}}</p>

                    {% endif %}

                </h3>
            </div>
            <div class="card-body">

                <div>
                    <small> وضعیت پروژه : </small> <span
                        class="badge badge-{{project.get_status_color}}">{{project.status}}</span>
                </div>
                <hr>
                {% if project.short_description %}
                <div class="text-secondary">
                    {{project.short_description|safe}}
                </div>
                <hr>
                {% endif %}

                {% if project.childs %}
                <h4 class="mt-4"> پروژه های جزئی</h4>

                <div class="ml-4 mb-3">
                    {% for project in  project.childs %}
                    <h6 class="mb-3">
                        <a href="{{project.get_absolute_url}}">
                            {{project.get_colored_icon|safe}}

                            {{project.title}}
                        </a></h6>
                    {% endfor %}
                </div>
                <hr>
                {% endif %}
                {% if project.contractors.all %}
                <h4 class="mt-4">پیمانکار ها</h4>

                <div class="ml-4 mb-3">
                    {% for contractor in  project.contractors.all %}
                    <h6 class="mt-4">
                        <a class="d-block mb-2 text-primary" href="{{contractor.get_absolute_url}}">
                            <i class="material-icons">engineering</i>
                            {{contractor.title}}
                        </a>
                    </h6>

                    {% endfor %}
                </div>
                <hr>
                {% endif %}
                {% if project.work_units.all %}
                <h4 class="mt-4">واحد های مرتبط با این پروژه</h4>

                <div class="ml-4 mb-3">

                    {% for work_unit in project.work_units.all %}


                    <h6 class="mt-4"> <a class="d-block mb-2 text-primary" href="{{work_unit.get_absolute_url}}">
                            <i class="material-icons">apartment</i>
                            {{work_unit.title}}</a>
                    </h6>


                    {% endfor %}
                </div>

                <hr>
                {% endif %}
            </div>
            <div class="card-footer">
                <div class="stats">
                    {% if perms.projectmanager.change_project  and project.get_edit_url%}
                    <i class="material-icons text-danger">link</i>

                    <a href="{{project.get_edit_url}}">

                        ویرایش </a>
                    {% endif %}


                    {% if perms.projectmanager.add_project %}
                    <i class="mx-5 material-icons text-danger">link</i>

                    <a href="{{ADMIN_URL}}{{APP_NAME}}/project/add/">

                        افزودن پروژه جدید </a>
                    {% endif %}

                </div>
            </div>
        </div>
        <div class="card card-stats">


            <div class="card-body" id="tags-app">
               <h5 class="my-3"> برچسب ها</h5>
                {% for tag in project.tags.all %}
<a href="{{tag.get_absolute_url}}" class="btn btn-light">
                    {{tag.title}}
                </a>

                {% endfor %}
                <temmplate v-for="tag in tags">
                <a   v-text="tag.title" :href="tag.get_absolute_url" class="btn btn-light">
                   
                </a> </temmplate>
                {% if perms.app.add_tag %}
              
                

                <input type="text" v-model="new_tag" placeholder="تگ جدید" class="form-control">
                <button class="btn btn-primary" @click="add_tag">اضافه کن</button>
                {% endif %}
            </div>

        </div>


    </div>

    <!-- location -->
    {% if project.location %}
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">settings</i>
                </div>

                <p class="card-category">موقعیت</p>


                <h3 class="card-title">{{project.title}}



                </h3>
            </div>
            <div class="card-body">





                {{project.location|safe}}

            </div>



            <div class="card-footer">
                <div class="stats">
                    {% if perms.projectmanager.change_project  and project.get_edit_url%}
                    <i class="material-icons text-danger">link</i>

                    <a href="{{project.get_edit_url}}">

                        ویرایش </a>
                    {% endif %}
                </div>
            </div>
        </div>


    </div>


    {% endif %}


    <!-- docs & links -->
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">get_app</i>
                </div>

                <p class="card-category">

                    {{project.title}}
                </p>


                <h3 class="card-title">
                    فایل ها و لینک ها


                </h3>
            </div>
            <div class="card-body">

                <h5 class="mt-4">
                    فایل ها
                </h5>
                {% for document in project.documents.all %}
                <div>
                    <a class="ml-3 mb-3 " href="{{document.get_download_url}}">
                        {{document.get_tag_icon|safe}}

                        {{document.title}}
                    </a>
                    {% if perms.app.change_document %}
                    <a class="btn btn-info  btn-link" title="ویرایش" href="{{document.get_edit_url}}">
                        <i class="fa fa-edit"></i>
                    </a>
                    {% endif %}
                </div>
                {% endfor %}

                {% if add_document_form %}
                <form action="{% url 'projectmanager:add_document' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="manager_page_id" value="{{project.id}}">
                    <input placeholder="عنوان برای فایل جدید" type="text" name="title" class="form-control" required>
                    <button type="submit" class="btn btn-primary">تایید</button>
                </form>
                {% endif %}

                <h5 class="mt-5">
                    لینک ها
                </h5>

                {% for link in project.links.all %}
                <div>
                    <a target="_blank" class="ml-3 mb-3" href="{{link.url}}">
                        {{link.get_tag_icon|safe}}

                        {{link.title}}
                    </a>
                    {% if perms.app.change_link %}
                    <a class="btn btn-info btn-link" title="ویرایش" href="{{link.get_edit_url}}">
                        <i class="fa fa-edit"></i>
                    </a>
                    {% endif %}
                </div>
                {% endfor %}



                {% if add_link_form %}
                <form action="{% url 'projectmanager:add_link' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="manager_page_id" value="{{project.id}}">
                    <input placeholder="عنوان برای لینک جدید" type="text" name="title" class="form-control" required>
                    <button type="submit" class="btn btn-primary">تایید</button>
                </form>
                {% endif %}
            </div>



            <div class="card-footer">
                <div class="stats">
                    {% if perms.projectmanager.change_project  and project.get_edit_url%}
                    <i class="material-icons text-danger">link</i>

                    <a href="{{project.get_edit_url}}">

                        ویرایش </a>
                    {% endif %}
                </div>
            </div>
        </div>



    </div>

    <!-- issues -->
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card card-stats">
            <div class="card-header card-header-danger card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">chat</i>
                </div>

                <p class="card-category">{{project.title}}</p>


                <h3 class="card-title"> Issues



                </h3>
            </div>
            <div class="card-body">


                {% for issue in project.issues %}
                <h6 class="mb-3">
                    <a href="{{issue.get_absolute_url}}">
                        <i class="material-icons">build</i>

                        {{issue.title}}
                    </a></h6>
                {% endfor %}



                {% if add_issue_form %}
                <div>
                    <form action="{% url 'projectmanager:add_issue' %}" method="POST">
                        <input type="hidden" value="{{project.id}}" name="issue_for_id">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col"><input type="text" name="title" required class="form-control"></div>
                            <div class="col">
                                <select name="issue_type" required class="form-control">
                                    {% for issue_type in issue_types %}
                                    <option value="{{issue_type}}">{{issue_type}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-primary">ثبت</button>
                            </div>

                        </div>
                    </form>
                </div>
                {% endif %}

            </div>



            <div class="card-footer">
                <div class="stats">
                    {% if perms.projectmanager.add_issue%}
                    <i class="material-icons text-danger">link</i>

                    <a href="{{ADMIN_URL}}{{APP_NAME}}/issue/add">

                        افزودن مشکل جدید </a>
                    {% endif %}
                </div>
            </div>
        </div>


    </div>


    <!-- project.description -->
    {% if project.description %}
    <div class="col-12">
        <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">settings</i>
                </div>



                <p class="card-category">{{project.title}}</p>



                <h3 class="card-title">توضیحات کامل


                </h3>
            </div>
            <div class="card-body">



                {{project.description|safe}}


            </div>
            <div class="card-footer">
                <div class="stats">
                    {% if perms.projectmanager.change_project and project.get_edit_url%}
                    <i class="material-icons text-danger">link</i>

                    <a href="{{project.get_edit_url}}">

                        ویرایش </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}




    <!-- material requests -->
    <div class="col-12">
        <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">settings</i>
                </div>


                <p class="card-category">{{project.title}}</p>




                <h3 class="card-title">

                    درخواست متریال


                </h3>
            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table">

                        <thead>
                            <td>متریال</td>
                            <td>پرسنل</td>
                            <td>پیمانکار</td>
                            <td>وضعیت</td>
                            <td>تاریخ</td>
                            <td>تعداد</td>
                            <td></td>
                        </thead>
                        <tbody>
                            {% for material_request in project.materialrequest_set.all %}
                            <tr>
                                <td><a
                                        href="{{material_request.requested_material.get_absolute_url}}">{{material_request.requested_material.title}}</a>
                                </td>
                                <td><a
                                        href="{{material_request.employee.profile.get_absolute_url}}">{{material_request.employee.profile.name}}</a>
                                </td>
                                <td><a
                                        href="{{material_request.contractor.get_absolute_url}}">{{material_request.contractor.title}}</a>
                                </td>
                                <td><span
                                        class="badge badge-{{material_request.status| to_material_request_status_color}}">{{material_request.status}}</span>
                                </td>
                                <td><small>
                                        {{material_request.date_added|to_persian_date|safe}}
                                    </small>
                                </td>
                                <td>{{material_request.quantity}} {{material_request.unit_name}}</td>
                                <td>
                                    <a class="btn btn-link btn-info" href="{{material_request.get_absolute_url}}">
                                        <i class="fa fa-user"></i>
                                    </a>
                                    <a class="btn btn-link btn-warning" href="{{material_request.get_edit_url}}">
                                        <i class="fa fa-edit"></i>
                                    </a>

                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>


            </div>



            <div class="card-footer">
                <div class="stats">

                </div>
            </div>
        </div>

    </div>

{% csrf_token %}
    <!-- page logs --> {% if perms.projectmanager.view_pagelog %}

    <div class="col-12">
        <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">settings</i>
                </div>

                <p class="card-category">لاگ</p>


                <h3 class="card-title">{{project.title}}



                </h3>
            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table">

                        <thead>
                            <td>پروفایل</td>
                            <td>اکشن</td>
                            <td>تاریخ</td>
                        </thead>
                        <tbody>
                            {% for page_log in project.pagelog_set.all %}
                            <tr>
                                <td><a href="{{page_log.profile.get_absolute_url}}">{{page_log.profile.name}}</a></td>
                                <td>{{page_log.action}}</td>
                                <td>{{page_log.date_added|to_persian_date|safe}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>


            </div>



            <div class="card-footer">
                <div class="stats">

                </div>
            </div>
        </div>




    </div>
    {% endif %}
</div>


{% endblock %}
{% block scripts %}
<script>

    $(document).ready(function () {
        // Javascript method's body can be found in assets/js/demos.js
        // initDashboardPageCharts();

    });
</script>
<script>
    $("#project-manager-link").addClass("active");
    

    let csrfmiddlewaretoken = ''
    $(document).ready(function () {
        // Javascript method's body can be found in assets/js/demos.js
        csrfmiddlewaretoken = $("input[name='csrfmiddlewaretoken']").val()


    })

    let add_tag_url="{% url 'projectmanager:add_tag'%}"

    let tags_app = new Vue({
        el: "#tags-app",
        data: {
            tags: [],
            new_tag: '',

        },
        methods: {
            add_tag: function () {
                let url = add_tag_url
                let posting = $.post(url, {
                    page_id:JSON.parse("{{project.id}}"),
                    tag_title: tags_app.new_tag,
                    csrfmiddlewaretoken: csrfmiddlewaretoken
                })
                posting.done(function (data) {
                    console.log(data)
                    tags_app.new_tag=''
                    if (data.result==='SUCCEED') {
                        tags_app.tags.push(data.tag)
                    }
                })
            },

        },
    })




</script>
{% endblock %}
{% block styles %}

{% endblock %}