{% extends "dashboard/layout.html" %}
{% load static %}
{% load to_price %}
{% block contents %}





<div class="row">
  {% if pages %}
    
  <div class="col-lg-4">
    <div class="card card-stats">
      <div class="card-header card-header-info card-header-icon">
        <div class="card-icon">
          <i class="material-icons">search</i>
        </div>
        <p class="card-category">جستجو برای</p>
        <h3 class="card-title">{{search_for}}

        </h3>
      </div>
      <div class="card-body">

<table class="table">
  <thead>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </thead>

  <tbody>
    {% for page in pages %}

  <tr>
    <td>
      {{page.get_link|safe}}
    </td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
    
      


   
        
    {% endfor %}
  </tbody>
</table>

      
      </div>
      <div class="card-footer">
        <div class="stats">
          <!-- <i class="material-icons text-danger">link</i>
          <a href="{{ADMIN_URL}}{{APP_NAME}}/project/add/">اضافه کردن پروژه</a> -->
        </div>
      </div>
    </div>
  </div>

  {% endif %}
  {% if materialobjects %}
    
  <div class="col-lg-4">
    <div class="card card-stats">
      <div class="card-header card-header-info card-header-icon">
        <div class="card-icon">
          <i class="material-icons">search</i>
        </div>
        <p class="card-category">جستجو برای</p>
        <h3 class="card-title">{{search_for}}

        </h3>
      </div>
      <div class="card-body">

<table class="table">
  <thead>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </thead>

  <tbody>
    {% for page in materialobjects %}

  <tr>
    <td>
     
      <a href="{{page.material.get_absolute_url}}">{{page.material.title}}</a>
    </td>
    <td>    <a href="{{page.get_absolute_url}}">{{page.serial_no}}</a>
       </td>
    <td></td>
    <td></td>
  </tr>
    
      


   
        
    {% endfor %}
  </tbody>
</table>

      
      </div>
      <div class="card-footer">
        <div class="stats">
          <!-- <i class="material-icons text-danger">link</i>
          <a href="{{ADMIN_URL}}{{APP_NAME}}/project/add/">اضافه کردن پروژه</a> -->
        </div>
      </div>
    </div>
  </div>

  {% endif %}

  {% if contractors %}
  <div class="col-lg-4">
   <div class="card card-stats">
     <div class="card-header card-header-warning card-header-icon">
       <div class="card-icon">
         <i class="material-icons">engineering</i>
       </div>
       <p class="card-category">جستجو برای</p>
       <h3 class="card-title">{{search_for}}

       </h3>
     </div>
     <div class="card-body">

<table class="table">
 <thead>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
 </thead>

 <tbody>
   {% for contractor in contractors %}

 <tr>
   <td>
     {{contractor.get_link|safe}}
   </td>
   <td></td>
   <td></td>
   <td></td>
 </tr>
   
     


  
       
   {% endfor %}
 </tbody>
</table>

     
     </div>
     <div class="card-footer">
       <div class="stats">
         <!-- <i class="material-icons text-danger">link</i>
         <a href="{{ADMIN_URL}}{{APP_NAME}}/project/add/">اضافه کردن پروژه</a> -->
       </div>
     </div>
   </div>
  </div>
{% endif %}

{% if profiles %}
   <div class="col-lg-4">
    <div class="card card-stats">
      <div class="card-header card-header-success card-header-icon">
        <div class="card-icon">
          <i class="fa fa-user"></i>
        </div>
        <p class="card-category">جستجو برای</p>
        <h3 class="card-title">{{search_for}}

        </h3>
      </div>
      <div class="card-body">

<table class="table">
  <thead>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </thead>

  <tbody>
    {% for profile in profiles %}

  <tr>
    <td>
      {{profile.get_link|safe}}
    </td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
    
      


   
        
    {% endfor %}
  </tbody>
</table>

      
      </div>
      <div class="card-footer">
        <div class="stats">
          <!-- <i class="material-icons text-danger">link</i>
          <a href="{{ADMIN_URL}}{{APP_NAME}}/project/add/">اضافه کردن پروژه</a> -->
        </div>
      </div>
    </div>
   </div>
 {% endif %}

</div>


{% endblock %}
{% block scripts %}
<script>

  $(document).ready(function () {
    // Javascript method's body can be found in assets/js/demos.js
    //  initDashboardPageCharts();

  });
</script>
<script>
  $("#project-manager-link").addClass("active");





</script>
{% endblock %}
{% block styles %}

{% endblock %}