{% extends "dashboard/layout.html" %}
{% load static %}
{% load to_price %}
{% block contents %}





<div class="row">
  <div class="col-lg-12">
    <div class="card card-stats">
      <div class="card-header card-header-info card-header-icon">
        <div class="card-icon">
          <i class="material-icons">search</i>
        </div>
        <p class="card-category">جستجو</p>
        <h3 class="card-title">{{search_for}}

        </h3>
      </div>
      <div class="card-body">

<table class="table">
  <thead>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </thead>

  <tbody>
    {% for page in pages %}

  <tr>
    <td><a class="d-block mb-2 text-primary" href="{{page.get_absolute_url}}">
      <i class="material-icons">engineering</i>
      {{page.title}}</a></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
    
      


   
        
    {% endfor %}
  </tbody>
</table>

      
      </div>
      <div class="card-footer">
        <div class="stats">
          <!-- <i class="material-icons text-danger">link</i>
          <a href="{{ADMIN_URL}}{{APP_NAME}}/project/add/">اضافه کردن پروژه</a> -->
        </div>
      </div>
    </div>
  </div>

 
</div>


{% endblock %}
{% block scripts %}
<script>

  $(document).ready(function () {
    // Javascript method's body can be found in assets/js/demos.js
    //  initDashboardPageCharts();

  });
</script>
<script>
  $("#project-manager-link").addClass("active");





</script>
{% endblock %}
{% block styles %}

{% endblock %}