{% extends "projectmanager/page.html" %}
{% load to_persian_date %}
{% load to_material_request_status_color %}
{% block content %}



{% if page.materialinstock_set.all %}
<!-- material objects  -->
<div class="col-12">
    <div class="card card-stats">
        <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
                <i class="material-icons">settings</i>
            </div>


            <p class="card-category">{{material.title}}</p>




            <h3 class="card-title">

                متریال موجود در انبار


            </h3>
        </div>
        <div class="card-body">

            <div class="table-responsive">
                <table class="table">

                    <thead>
                        <td>متریال</td>
                        <td>سریال</td>
                        <td>انبار</td>
                        <td>وضعیت</td>
                        <td>تاریخ</td>
                        <td>قفسه</td>
                        <td></td>
                    </thead>
                    <tbody>
                        {% for material_in_stock in page.materialinstock_set.all %}
                        <tr>
                            <td><a
                                    href="{{material_in_stock.material_object.material.get_absolute_url}}">{{material_in_stock.material_object.material.title}}</a>
                            </td>
                            <td>
                                {{material_in_stock.material_object.serial_no}}
                            </td>
                            <td><a
                                    href="{{material_in_stock.warehouse.get_absolute_url}}">{{material_in_stock.warehouse.title}}</a>
                            </td>
                            <td><span
                                    class="badge badge-{{material_request.status| to_material_request_status_color}}">{{material_request.status}}</span>
                            </td>
                            <td><small>
                                    {{material_in_stock.date_added|to_persian_date|safe}}
                                </small>
                            </td>
                            <td>

                                <span class="badge badge-info">&nbsp;قفسه {{material_in_stock.col}}&nbsp;</span>
                                <span class="badge badge-warning">&nbsp;ردیف {{material_in_stock.row}}&nbsp;</span>
                            </td>
                            <td>
                             
                                <a class="btn btn-link btn-warning" href="{{material_in_stock.get_edit_url}}">
                                    <i class="fa fa-edit"></i>
                                </a>

                            </td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>


        </div>



        <div class="card-footer">
            <div class="stats">

            </div>
        </div>
    </div>

</div>
{% endif %}
{% endblock %}