{% extends "projectmanager/page.html" %}
{% load to_persian_date %}
{% load to_material_request_status_color %}
{% block content %}


<div class="col-lg-4 col-md-6">
    <div class="card card-stats">
        <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">

                <i class="fa fa-user"></i>
            </div>
            {% if warehouse.title %}
            <p class="card-category">{{warehouse.title}}</p>

            {% endif %}
            <h3 class="card-title">پرسنل
            </h3>
        </div>
        <div class="card-body">


            <table class="table">
                <thead>
                    <td>نام</td>
                    <td>سمت</td>
                    <td></td>
                </thead>
                <tbody>
                    {% for employee in warehouse.employees.all %}
                    <tr>
                        <td>
                            <a href="{{employee.get_absolute_url}}">{{employee.profile.name}}</a>
                        </td>
                        <td>{{employee.role}}</td>
                        <td></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
        <div class="card-footer">
            <div class="stats">
                {% if perms.projectmanager.change_project and material.get_edit_url%}
                <i class="material-icons text-danger">link</i>

                <a href="{{material.get_edit_url}}">

                    ویرایش </a> {% endif %}
            </div>
        </div>
    </div>
</div>

{% if materials %}
<!-- material objects  -->
<div class="col-12">
    <div class="card card-stats">
        <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
                <i class="material-icons">settings</i>
            </div>


            <p class="card-category">{{page.title}}</p>




            <h3 class="card-title">

                متریال موجود در انبار


            </h3>
        </div>
        <div class="card-body">

            <div class="table-responsive">
                <table class="table">

                    <thead>
                        <td>متریال</td>
                        <td>سریال</td>
                        <td>انبار</td>
                        <td>وضعیت</td>
                        <td>تاریخ ورود</td>
                        <td>تاریخ OPI</td>
                        <td>قفسه</td>
                        <td></td>
                    </thead>
                    <tbody>
                        {% for material_in_stock in materials %}
                        <tr>
                            <td>
                                <a href="{{material_in_stock.material_object.material.get_absolute_url}}">
                                    {{material_in_stock.material_object.material.title}}
                                </a>

                            </td>
                            <td>
                                <a href="{{material_in_stock.material_object.get_absolute_url}}">
                                    {{material_in_stock.material_object.serial_no}}
                                </a>
                            </td>
                            <td>
                                <a
                                    href="{{material_in_stock.warehouse.get_absolute_url}}">{{material_in_stock.warehouse.title}}</a>
                            </td>
                            <td><span
                                    class="badge badge-{{material_request.status| to_material_request_status_color}}">{{material_request.status}}</span>
                            </td>
                            <td><small>
                                    {{material_in_stock.date_added|to_persian_date|safe}}
                                </small>
                            </td>

                            <td><small>
                                    {% if material_in_stock.date_opi %}

                                    {{material_in_stock.date_opi|to_persian_date|safe}}
                                    {% endif %}
                                </small>
                            </td>

                            <td>

                                <span class="badge badge-info">&nbsp;قفسه {{material_in_stock.col}}&nbsp;</span>
                                <span class="badge badge-warning">&nbsp;ردیف {{material_in_stock.row}}&nbsp;</span>
                            </td>
                            <td>

                                <a class="btn btn-link btn-warning" href="{{material_in_stock.get_edit_url}}">
                                    <i class="fa fa-edit"></i>
                                </a>

                            </td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>


        </div>



        <div class="card-footer">
            <div class="stats">

            </div>
        </div>
    </div>

</div>
{% endif %}
{% if materials2 %}
<!-- material objects  -->
<div class="col-12">
    <div class="card card-stats">
        <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
                <i class="material-icons">settings</i>
            </div>


            <p class="card-category">{{page.title}}</p>




            <h3 class="card-title">

                متریال موجود در انبار


            </h3>
        </div>
        <div class="card-body">

            <div class="table-responsive">
                <table class="table">

                    <thead>
                        <td>متریال</td>
                        <td>تعداد</td>

                        <td></td>
                    </thead>
                    <tbody>
                        {% for material_object in materials2 %}
                        <tr>
                            <td><a href="{{material_object.material.get_absolute_url}}">

                                    {{material_object.material.title}}
                                    <!-- {{material_object.material_object.material.title}} -->
                                </a>
                            </td>
                            <td>
                                {{material_object.count1}}
                                {{material_object.material.unit_name}}
                            </td>



                            <td>

                                <a class="btn btn-link btn-warning" href="{{material_in_stock.get_edit_url}}">
                                    <i class="fa fa-edit"></i>
                                </a>

                            </td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>


        </div>



        <div class="card-footer">
            <div class="stats">

            </div>
        </div>
    </div>

</div>
{% endif %}





{% endblock %}


{% block script %}

{% endblock  %}