{% extends "dashboard/layout.html" %}
{% load static %}
{% load to_price %}
{% block contents %}





<div class="row">

    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">settings</i>
                </div>
                <p class="card-category">
                   
                </p>
                <p class="card-category">جزئیات واحد سازمانی</p>
                <h3 class="card-title"> {{work_unit.title}}

                </h3>
            </div>
            <div class="card-body">
                <div>
                    <p class="mt-3 text-secondary">

                        {% if work_unit.description %}
                        {{work_unit.description}}

                        {% endif %}
                        {% if work_unit.project_set.all %}
                          <p>پروژه های مرتبط</p>
                        {% endif %}
<div class="ml-5">
                        {% for project in work_unit.project_set.all %}
                        
                        <a href="{{project.get_absolute_url}}">{{project.title}}</a>
                        {% endfor %}
</div>
                    </p>
                </div>

            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons text-danger">link</i>
                    <a href=" {{work_unit.get_edit_url}}">ویرایش</a>
                </div>
            </div>
        </div>




    </div>




    <div class="col-lg-6 col-md-6 col-sm-12" id="product-request-app">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">کالاهای درخواست شده برای واحد {{work_unit.title}}</h4>
                <p class="card-category"></p>
            </div>
            <div class="card-body">

                {% if product_requests %}
                <table class="table">
                    <thead class=" text-primary">
                        <td></td>

                        <td>کالا</td>
                        <td>تعداد</td>
                        <td>درخواست کننده</td>
                    </thead>
                    <tbody>
                        {% for product_request in product_requests %}
                        <tr>
                            <td>


                                <a href="{{product_request.get_absolute_url}}">

                                    <small>جزئیات</small>

                                </a> &nbsp;
                                {{product_request.get_status_tag|safe}}



                            </td>

                            <td><a class="btn btn-warning"
                                    href="{{product_request.product.get_absolute_url}}">{{product_request.product.name}}</a>
                            </td>
                            <td>{{product_request.quantity}} {{product_request.product_unit}}</td>
                            <td>
                                <a href=" {{product_request.employee.profile.get_absolute_url}}">
                                    {{product_request.employee.profile.name}}</a>
                            </td>



                        </tr>

                        {% endfor %}
                    </tbody>




                </table>
                {% else %}
                <p class="text-center text-warning">
                    درخواستی ثبت نشده است.
                </p>
                {% endif %}


            </div>

            <div class="card-footer">
                <div class="stats">
                    {% if add_product_request_form %}


                    <a class="text-primary" style="cursor: pointer;"
                        @click="show_add_product_request=!show_add_product_request">
                        <i class="material-icons text-danger">link</i>
                        افزودن درخواست کالا</a>

                    {% endif %}
                </div>
            </div>
        </div>

        {% if add_product_request_form %}
        <div class="card" v-if="show_add_product_request">
            <div class="card-header card-header-primary">
                <h4 class="card-title">افزودن درخواست کالا برای واحد {{work_unit.title}}</h4>
                <p class="card-category"></p>
            </div>
            <div class="card-body">



                <div>
<form action="{% url 'automation:add_product_request' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="work_unit_id" value="{{work_unit.id}}">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="bmd-label-floating">کالای درخواستی</label>
                                <input type="number" class="form-control" name="product_id" v-model="product_id"
                                    value="">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="bmd-label-floating">تعداد</label>
                                <input v-model="quantity" type="number" name="quantity" class="form-control" value="">
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="bmd-label-floating">واحد</label>
                                <select v-model="product_unit" name="product_unit" class="form-control">
                                    <option disabled>واحد شمارش کالا</option>

                                    {% for unit_name in unit_names %}


                                    <option value="{{unit_name}}">{{unit_name}}</option>
                                    {% endfor %}
                                </select>

                            </div>
                        </div>
                        <div>

                            <button type="submit" class="btn btn-success">تایید</button>
                        </div>
                    </div>

                  

                </form>
                </div>

            </div>

            <div class="card-footer">
                <div class="stats">


                    <a class="text-primary">
                        <i class="material-icons text-danger">link</i>
                        افزودن درخواست کالا</a>

                </div>
            </div>
        </div>
        {% endif %}
    </div>

    <!-- Employees -->
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">settings</i>
                </div>
                <p class="card-category">لیست نیروی انسانی شاغل در </p>
                <h3 class="card-title"> {{work_unit.title}}

                </h3>
            </div>
            <div class="card-body">
                {% if not work_unit.employees.all %}
                <p>پرسنلی برای این واحد سازمانی ثبت نشده است.</p>
                {% endif %}

                <table class="table">


                    <tbody>

                        {% for employee in work_unit.employees.all %}


                        <tr>

                            <td>



                                <a class=" mb-2 text-{{work_unit.color}}" href="{{employee.profile.get_absolute_url}}">
                                    <i class="material-icons">{{project.icon}}</i>
                                    {{employee.profile.name}}</a>



                            </td>
                            <td>

                                {{employee.role}}

                            </td>



                        </tr>

                        {% endfor %}
                    </tbody>




                </table>

                {% if perms.projectmanager.add_employee and add_employee_form %}

                <form action="{% url 'automation:add_employee' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="work_unit_id" value="{{work_unit.id}}">
                    <input type="text" name="title" class="form-control" placeholder="نام پرسنل جدید" id="">
                    <input type="submit" class="btn btn-sm btn-success" value="افزودن">
                </form>
                {% endif %}
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons text-danger">link</i>

                </div>
            </div>
        </div>
    </div>

</div>


{% endblock %}
{% block scripts %}

<script>
    $("#project-manager-link").addClass("active");

    let csrfmiddlewaretoken = ''
    $(document).ready(function () {
        // Javascript method's body can be found in assets/js/demos.js
        csrfmiddlewaretoken = $("input[name='csrfmiddlewaretoken']").val()
    })


    var product_request_app = new Vue(
        {
            el: "#product-request-app",
            data: {
                show_add_product_request: false,
                product_id: 0,
                quantity: 1,
                product_unit: 'عدد',
            },
            methods: {
                AddProductRequest: function () {
                    console.log("AddProductRequest")
                    url = "{% url 'automation:add_product_request' %}"
                    product_id = this.product_id
                    quantity = this.quantity
                    product_unit = this.product_unit
                    work_unit_id = JSON.parse("{{work_unit.id}}")


                    var posting = $.post(url, {
                        product_id: product_id,
                        quantity: quantity,
                        product_unit: product_unit,
                        work_unit_id: work_unit_id,
                        csrfmiddlewaretoken: csrfmiddlewaretoken
                    });

                    // Put the results in a div
                    posting.done(function (data) {
                        // word_app.word = (data.word);
                        // word_app.definitions = (data.definitions);
                        // product_request_app.shops = data.shops
                        // if (price == 0)
                        //     showNotification('bottom', 'center', 'face', 'warning', 'با موفقیت از فروشگاه حذف شد')
                        // else
                            showNotification('bottom', 'center', 'face', 'primary', data.message)
                        // // console.log(word_app.word);
                        console.log(data);

                    })

                },

            },
        }
    )



</script>
{% endblock %}
{% block styles %}

{% endblock %}