{% load static %}
{% load to_price %}
<div class="card card-stats">
    <div class="card-header card-header-{{our_service.color}} card-header-icon">
        <div class="card-icon">
            <i class="material-icons">{{our_service.icon}}</i>
        </div>
        <h3 class="card-title">{{financial_document.title}}</h3>
    </div>
    <div class="card-body">
        <p>
            {{financial_document.amount|to_price}}
        </p>
       
        {% for doc in financial_document.documents.all %}
          <div>
              <a href="{{doc.get_download_url}}">
                {{doc.get_tag_icon|safe}}  {{doc.title}}
              </a>
          </div>
        {% endfor %}
    </div>
    <div class="card-footer">
        <div class="stats">
            <i class="material-icons">date_range</i>۲۴ ساعت اخیر
        </div>
    </div>
</div>