{% if partial_page.image %}
<p class="mt-5">
    <img src="{{partial_page.image}}" alt="" class="img-fluid">
</p>
{% endif %} {% if partial_page.pretitle %}
<h6 class="mb-3 leo-rtl text-right">{{partial_page.pretitle}}</h6>
{% endif %} {% if partial_page.title %}
<h4 class="mb-3 leo-rtl text-right">{{partial_page.title}}</h4>
{% endif %} {% if partial_page.posttitle %}
<h6 class="mb-3 leo-rtl text-right">{{partial_page.posttitle}}</h6>
{% endif %}

<p class="mt-5">{{partial_page.description | safe }}</p>
{% if partial_page.album %}
{% if partial_page.album.title %}
<h3 class="text-right leo-rtl">{{partial_page.album.title}}
    {% if perms.app.change_galleryalbum %}
<a class="btn btn-info leo-farsi" href="{{partial_page.album.get_edit_url}}">
    <span>ویرایش آلبوم</span>
    </a>
{% endif %}

</h3>

{% endif %}
<div class="row">
    {% for galley_photo  in partial_page.album.photos.all %}
    <div class="col-lg-4 col-md-6">
      <a target="_blank" href="{{galley_photo.image}}">
        <img style="width:100%" width="100%" src="{{galley_photo.image}}" alt="">
 </a>   </div>
    {% endfor %}
</div>

{% endif %}

{% if partial_page.links.all %}

<div class="testimony-wrap pb-2 mb-4">
    <div class="">
        <span class="fa fa-link   text-info" style="position:inherit !important;"></span>
        <h5 class="mb-4 text-right">لینک ها</h5>

        {% for link in partial_page.links.all %}

        <p>
            <a href="{{link.get_absolute_url}}">
                {{link.get_icon_tag | safe}}&nbsp;&nbsp;
                {{link.title}}

            </a> {% if perms.app.change_link %}

            <a class="btn btn-info" href="{{link.get_edit_url}}">
                <span class="leo-farsi">
                    ویرایش
                </span>
            </a>

            {% endif %}
        </p>
        {% endfor %}


    </div>
</div>


{% endif %} {% if partial_page.documents.all %}

<div class="testimony-wrap pb-2 mb-4">
    <div class="">
        <span class="fa fa-download text-success  " style="position:inherit !important;"></span>
        <h5 class="mb-4 text-right">دانلود ها</h5>

        {% for document in partial_page.documents.all %}
        <p>
            <a href="{{document.get_download_url}}">
                {{document.get_icon_tag | safe}}&nbsp;&nbsp;
                {{document.title}}

            </a> {% if perms.app.change_document %}

            <a class="btn btn-info" href="{{document.get_edit_url}}">
                <span class="leo-farsi">
                    ویرایش
                </span>
            </a>

            {% endif %}
        </p>
        {% endfor %}


    </div>
</div>


{% endif %} {% if perms.app.change_blog %}
<p>
    <a class="btn btn-info" href="{{partial_page.get_edit_url}}">
        <span class="leo-farsi">
            ویرایش صفحه جزیی
        </span>
    </a>
</p>
{% endif %}