{% load to_persian_date %}
<div class="card card-stats">
    <div class="card-header card-header-{{page.color}} card-header-icon">
        <div class="card-icon">
            {{page.get_icon|safe}}
        </div>

        <!-- {% if page.parent %}
        <div class="card-category">
            {{page.parent.get_breadcrumb_url|safe}}

        </div>

        {% endif %} -->

        {% if page.pretitle %}
        <p class="card-category">{{page.pretitle}}</p>

        {% endif %}
        <h3 class="card-title">{{page.title}} {% if page.posttitle %}

        </h3>
        {% endif %}
        <p class="card-category">{{page.posttitle}}</p>

    </div>
    <div class="card-body">
        {% if issue %}
        <div class="mb-3">
            <small> نوع مشکل : </small>

            {{page.issue.get_issue_type|safe}}

        </div>
        {% endif %}
        {% if issue %}
        <h4 class="text-secondary">مشکل مرتبط با</h4>
        <div class=" ml-2 mb-5">
            {{issue.page.get_link|safe}}

        </div>

        {% endif %}


        {% if page.status %}
        <div class="mb-3">
            <small> وضعیت : </small> <span class="badge badge-{{page.get_status_color}}">{{page.status}}</span>
        </div>
        {% endif %}










        {% if page.short_description %}
        <h4 class="text-secondary">
            شرح کوتاه
        </h4>

        <div class=" ml-2 mb-5">
            {{page.short_description|safe}}
        </div>

        {% endif %}



        {% if page.description %}
        <h4 class="text-secondary">
            شرح کامل
        </h4>

        <div class="ml-2  mb-5">
            {{page.description|safe}}
        </div>
        {% endif %}


        {% if page.childs %}
        <h4 class="text-secondary">
            زیر مجموعه ها
        </h4>

        <div class=" ml-4  mb-5">
            {% for page in page.childs %}

            {{page.get_link|safe}}
            {% endfor %}
        </div>
        {% endif %}



        {% if page.childs %}
        <h4 class="text-secondary">
            پیوست ها
        </h4>

        <div class=" ml-4 mb-5">
            {% for page in page.related_pages.all %}

            {{page.get_link|safe}}
            {% endfor %}
        </div>
        {% endif %}



        {% if page.issues %}
        <h4 class="text-secondary">
            مشکلات پیش آمده
        </h4>

        <div class=" ml-4 mb-5">
            {% for issue in page.issues.all %}

            <div class="">

                {{issue.get_colored_icon|safe}}
                <a href="{{issue.get_absolute_url}}">{{issue.title}}</a>
                {{issue.get_issue_type|safe}}
            </div>
            <div class="ml-5 mb-1">
                <small>
                    <small class="text-secondary">

                        {{issue.date_report|to_persian_date|safe}}
                    </small></small>
            </div>
            {% endfor %}
        </div>
        {% endif %}

       
        <h4 class="text-secondary">
            برچسب ها
        </h4>



        <div class=" ml-4 mb-5">

            {% for tag in page.tags.all %}
            <a href="{{tag.get_manager_tag_url}}" class="btn btn-sm btn-light">
                <span>{{tag.title}}</span>
            </a>
            {% endfor %}
            <template v-for="tag in tags">
                <a v-if="tag.title" :href="tag.get_manager_tag_url" class="btn btn-sm btn-light">
                    <span v-text="tag.title"></span>
                </a>
            </template>

        </div>
        
       

        {% if page.documents.all %}
        <h4 class="text-secondary">
            فایل های ضمیمه شده
        </h4>
        <div class=" ml-4 mb-5">
            {% for document in page.documents.all %}
            <div>
                <a class="ml-3 mb-3 " href="{{document.get_download_url}}">
                    {{document.get_icon_tag|safe}}

                    {{document.title}}
                </a>
            </div>
            {% endfor %}
        </div>
        {% endif %}


        {% if page.links.all %}
        <h4 class="text-secondary">
            لینک ها
        </h4>
        <div class=" ml-4 mb-5">
            {% for link in page.links.all %}
            <div>
                <a target="_blank" class="ml-3 mb-3" href="{{link.url}}">
                    {{link.get_icon_tag|safe}}

                    {{link.title}}
                </a>
            </div>
            {% endfor %}
        </div>
        {% endif %}



        {% if workunit_projects %}
        <h4 class="text-secondary">
            پروژه های مرتبط
        </h4>
        <div class=" ml-4 mb-5">

            {% for project in workunit_projects %}

            <div>
                {{project.get_link|safe}}
            </div>
            {% endfor %}
        </div>
        {% endif %}


        {% if page.related_pages.all %}

        <h4 class="text-secondary">صفحات مرتبط</h4>
        <div class=" ml-4 mb-5">

            {% for related_page in page.related_pages.all %}
            <div>
                {{related_page.get_link|safe}}
            </div>
            {% endfor %}
        </div>
        {% endif %}





    </div>
    <div class="card-footer">
        <div class="stats">
            {% if perms.projectmanager.change_page and page.get_edit_url%}
            <i class="material-icons text-danger">link</i>

            <a href="{{page.get_edit_url}}">

                ویرایش </a> {% endif %}

            <i class="ml-4 material-icons text-danger">link</i>

            <a href="{{page.get_avo_url}}">

                جزئیات </a>
        </div>
    </div>
</div>