{% load static %}
<div>
    {% if partial_page.image %}
    <img src="{{partial_page.image}}" class="mb-3" alt="">
    {% endif %}

    {% if partial_page.pretitle %}
    <h5>{{partial_page.pretitle}}</h5>
    {% endif %}



    {% if partial_page.title %}
    <h3>{{partial_page.title}}</h3>
    {% endif %}


    {% if partial_page.posttitle %}
    <h5>{{partial_page.posttitle}}</h5>
    {% endif %}



    {% if partial_page.description %}
    <p>{{partial_page.description|safe}}</p>
    {% endif %}



</div>

{% for gallery in partial_page.galleries.all %}
<div>
    {% if gallery.title %}
    <h3>{{gallery.title}}</h3>
    {% endif %}
    <div class="row">

        {% for photo in gallery.photos.all %}
        <div class="col-4">
            <a target="_blank" href="{{photo.image}}">
                <img style="width:100%" src="{{photo.thumbnail}}" alt=""></a>
        </div>
        {% endfor %}
    </div>
</div>
{% endfor %}
{% if partial_page.documents.all %}
  <div>
   <h4>  Documents</h4>  
  </div>
{% endif %}

{% for document in partial_page.documents.all %}
<div>
    
      
            <a target="_blank" href="{{document.get_download_url}}">
                {{document.get_tag_icon | safe}}&nbsp;
               {{document.title}}</a>
      
                
</div>
{% endfor %}

{% if partial_page.links.all %}
  <div>
   <h4>  Links</h4>  
  </div>
{% endif %}
{% for link in partial_page.links.all %}
<div>
    
      
            <a target="_blank" href="{{link.url}}">
                {{link.get_tag_icon | safe}}&nbsp;
               {{link.title}}</a>
      
                
</div>
{% endfor %}
