{% extends "avo/layout.html" %}
{% load static %}
{% load to_persian_date %}

{% block head %}

{% endblock %}
{% if perms.app.change_blog %}

{% endif %}
{% block contents %}


<section class="hero-wrap hero-wrap-2 degree-right" style="background-image: url('{{our_works_header_image.image}}');"
	data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text js-fullheight align-items-end">
			<div class="col-md-9 ftco-animate pb-5 mb-5">
				<p class="breadcrumbs"><span class="mr-2"><a href="{% url 'app:home' %}"><i
								class="fa fa-chevron-left"></i>
							بازگشت به خانه </a></span> </p>
				<h1 class="mb-3 bread leo-rtl text-right">پروژه های ما</h1>
				{% if perms.app.add_ourwork %}

				<p class="">
					<a title="افزودن پروژه جدید" href="{{ADMIN_URL}}app/ourwork/add/">
						<span style="font-size: 3em;" class="fa fa-plus-circle text-info"></span>
					</a>
				</p>

				{% endif %}

				{% if perms.app.change_parameter %}
				<p class="text-center leo-rtl text-right">
					<a href="{{our_works_header_image.get_edit_url}}"
						class="btn btn-info py-md-3 py-2 px-2 px-md-4">ویرایش تصویر
					</a>
				</p>
				{% endif %}

			</div>
		</div>
	</div>
</section>


<!-- our works -->
<section class="ftco-section ftco-portfolio bg-light">

	<div class="container">
		<div class="row no-gutters">
			{% for our_work in our_works %}
			{% if forloop.counter0|divisibleby:2 %}
			<div class="col-md-12 portfolio-wrap">
				<div class="row no-gutters align-items-center">
					<div class="col-md-5 img" style="background-image: url({{our_work.thumbnail}});">

					</div>
					<div class="col-md-7">
						<div class="text pt-5 pl-0 pl-lg-5 pl-md-4 ftco-animate">
							<div class="px-4 px-lg-4">
								<div class="desc">
									<div class="top">
										{% if our_work.pretitle %}
										<span class="subheading leo-farsi text-right">{{our_work.pretitle}}</span>

										{% endif %}
										<h2 class="mb-2"><a href="{{our_work.get_absolute_url}}">{{our_work.title}}</a>
										</h2>
										{% if our_work.posttitle %}
										<span class="subheading leo-farsi text-right">{{our_work.posttitle}}</span>

										{% endif %}
									</div>
									<div class="absolute">
										<p>{{our_work.short_desc}}</p>
										{% if our_work.profile %}
										<div class="icon d-flex align-items-center mb-4">
											<div class="img" style="background-image: url({{our_work.profile.image}});">
											</div>
											<div class="position pl-3">
												<h4 class="mb-0">{{our_work.profile.name}}</h4>
												<span>{{our_work.date_added | to_persian_date | safe  }}</span>
											</div>
										</div>
										{% endif %}
										<p style="text-align: left !important;"><a href="{{our_work.get_absolute_url}}"
												class="custom-btn">اطلاعات بیشتر</a>
											{% if perms.app.edit_ourwork %}

											<a href="{{our_work.get_edit_url}}" class="btn btn-info">ویرایش مطلب</a>

											{% endif %}
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% else %}
			<div class="col-md-12 portfolio-wrap">
				<div class="row no-gutters align-items-center">
					<div class="col-md-5 order-md-last img" style="background-image: url({{our_work.thumbnail}});">

					</div>
					<div class="col-md-7">
						<div class="text pt-5 pr-md-5 ftco-animate">
							<div class="px-4 px-lg-4">
								<div class="desc text-md-right">
									<div class="top">
										{% if our_work.pretitle %}
										<span class="subheading leo-farsi">{{our_work.pretitle}}</span>

										{% endif %}
										<h2 class="mb-2"><a href="{{our_work.get_absolute_url}}">{{our_work.title}}</a>
										</h2>
										{% if our_work.posttitle %}
										<span class="subheading leo-farsi">{{our_work.posttitle}}</span>

										{% endif %}
									</div>
									<div class="absolute">
										<p>{{our_work.short_desc}}</p>
										<div class="d-flex w-100">
											{% if our_work.profile %}
											<div class="icon d-flex align-items-center ml-md-auto mb-4">
												<div class="img"
													style="background-image: url('{{our_work.profile.image}}');">
												</div>
												<div class="position pl-3 text-left">
													<h4 class="mb-0">{{our_work.profile.name}}</h4>
													<span>{{our_work.date_added | to_persian_date | safe  }}</span>
												</div>
											</div>
											{% endif %}
										</div>
										<p style="text-align:right !important;">
											<a href="{{our_work.get_absolute_url}}" class="custom-btn">
												اطلاعات بیشتر
											</a>
											{% if perms.app.edit_ourwork %}

											<a href="{{our_work.get_edit_url}}" class="btn btn-info">ویرایش مطلب</a>

											{% endif %}
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			{% endif %}

			{% endfor %}



		</div>
	</div>

</section>
{% endblock %}
{% block scripts %}

<script>
	$("#our-works-link").addClass('active')
</script>
{% endblock %}