{% extends "dashboard/layout.html" %}
{% load static %}
{% load to_price %}
{% block contents %}





<div class="row">
    <!-- my employees -->
    <div class="col-lg-6 col-md-6 col-sm-12">

        <div class="card" id="app">
            <p>latitude:</p>
            <h2 v-text="location.latitude"></h2>
            <p>longitude:</p>
            <h2 v-text="location.longitude"></h2>
            <button class="btn btn-danger" @click="getLocation">موقعیت من را پیدا کن</button>
        </div>

        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">مسئولیت های اجرایی
                    {{profile.name}}
                </h4>
                <p class="card-category"></p>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead class=" text-primary">
                        <td>پروژه</td>
                        <td> واحد سازمانی</td>
                        <td>نقش</td>
                    </thead>

                    {% for employee in my_employees %}
                    {% for workunit in employee.workunit_set.all %}
                    {% for project in workunit.project_set.all %}

                    <tr>
                        <td><a class="text-primary" href="{{project.get_absolute_url}}">{{project.title}}</a></td>
                        <td> <a class="text-primary" href="{{workunit.get_absolute_url}}">{{workunit.title}}</a></td>
                        <td> {{employee.role}}</td>
                    </tr>
                    {% endfor %}
                    {% endfor %}
                    {% endfor %}
                </table>
            </div>

        </div>

    </div>

    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">settings</i>
                </div>
                <p class="card-category">لیست</p>
                <h3 class="card-title">پروژه ها

                </h3>
            </div>
            <div class="card-body">
                <p class="mt-3">
                    {% for project in projects %}

                    <a class=" mb-2" href="{{project.get_absolute_url}}">
                        <i class="material-icons">add_shopping_cart</i>
                        {{project.title}}</a>
                    {% endfor %}


                </p>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <a href="{{ADMIN_URL}}{{APP_NAME}}/project/add/">افزودن پروژه جدید</a>
                </div>
            </div>
        </div>
    </div>


    {% endblock %}
    {% block scripts %}

    <script>
        $("#automation-link").addClass("active");


        let app = new Vue({
            el: "#app",
            data: {
                location: { latitude: 0, longitude: 0 },

            },
            methods: {
                getLocation: function () {
                    let location1 = Android.getLocation()
                    // showNotification('bottom', 'center', 'face', 'primary', location1)
                    showNotification('bottom', 'center', 'face', 'primary', 'location1 : '+location1)
                     
                    this.location = JSON.parse(location1)
                    showNotification('bottom', 'center', 'face', 'primary', this.location)
                    showNotification('bottom', 'center', 'face', 'primary','latitude : '+ this.location.latitude)
                    showNotification('bottom', 'center', 'face', 'primary', 'longitude : '+this.location.longitude)
                },

            },
        })



    </script>
    {% endblock %}
    {% block styles %}

    {% endblock %}