{% extends "dashboard/layout.html" %}
{% load static %}
{% load to_price %}
{% load to_contract_status_color %}
{% block contents %}





<div class="row">
    <div class="col-12">
        <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">settings</i>
                </div>
                <p class="card-category">لیست</p>
                <h3 class="card-title">درخواست شماره {{product_request.pk}}

                </h3>
            </div>
            <div class="card-body">


                <a class="btn btn-info"
                    href="{{product_request.work_unit.get_absolute_url}}">{{product_request.work_unit.title}}</a>

                <a class="btn btn-primary"
                    href="{{product_request.product.get_absolute_url}}">{{product_request.product.name}}</a>
                <span class="text-warning">{{product_request.quantity}} {{product_request.product_unit.name}}</span>

            </div>






            <div class="card-footer">

                <div>

                    {% if product_request.signatures.all %}
                    <span class="stats text-secondary mx-2">امضا شده توسط: </span>

                    {% for signature in product_request.signatures.all %}



                    <span class="stats text-success mx-2">

                        <i class="material-icons">done</i>
                        {{signature.profile.name}}

                    </span>
                    {% endfor %} {% endif %}

                </div>

                <div class="stats">
                    <i class="material-icons text-danger">link</i>
                    <a href="{{product_request.get_edit_url}}">ویرایش کردن درخواست</a>

                    <i class="material-icons text-danger">link</i>
                    <a href="{{product_request.get_absolute_url}}">جزییات درخواست</a>

                </div>

            </div>
        </div>
    </div>


</div>


{% endblock %}
{% block scripts %}

<script>
    $("#automation-link").addClass("active");





</script>
{% endblock %}
{% block styles %}

{% endblock %}