{% extends "dashboard/layout.html" %}
{% load static %}
{% load to_price %}
{% block contents %}





<div class="row">
    <!-- project description -->
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">settings</i>
                </div>
                <p class="card-category">جزئیات پروژه</p>
                <h3 class="card-title">{{project.title}}

                </h3>
            </div>
            <div class="card-body">
              <p class="mt-3">
                   


             


                   
                        {{project.description}}

                </p>
           
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons text-danger">link</i>
                    <a href="{{project.get_edit_url}}">ویرایش</a>
                </div>
            </div>
        </div>
    </div>
  <!-- work units -->
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">settings</i>
                </div>
                <p class="card-category">لیست</p>
                <h3 class="card-title">واحد ها

                </h3>
            </div>
            <div class="card-body">
              {% for work_unit in project.work_units.all %}
              <p class="mt-3">
                   


                <a class="d-block mb-2 text-{{work_unit.color}}" href="{{work_unit.get_absolute_url}}">
                    <i class="material-icons">{{work_unit.icon}}</i>
                    {{work_unit.title}}</a>

                </p>
              {% endfor %}
              {% if perms.automation.add_workunit and add_work_unit_form%}
             
              <form action="{% url 'automation:add_work_unit' %}" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="project_id" value="{{project.id}}">
                  <input type="text" name="title" class="form-control" placeholder="نام واحد سازمانی جدید" id="">
 <input type="submit" class="btn btn-sm btn-success" value="افزودن">
                </form>
              {% endif %}
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons text-danger">link</i>
                    <a href="{{ADMIN_URL}}automation/work_unit/add/">اضافه کردن واحد</a>
                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-6 col-md-6 col-sm-12">
  
   
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">store</i>
            </div>
            <p class="card-category">فایل excel</p>
            <h3 class="card-title"> انبار های {{project.name}}</h3>
          </div>
          <div class="card-body">
            {% for ware_house in  project.warehouses.all  %}
            <div>
              <a href=" {{ware_house.get_absolute_url}}" class="btn btn-block btn-link btn-success">
                <i class="material-icons">get_app</i>
                {{ware_house.name}}
              </a>
            </div>
            {% endfor %}
           
          </div>
          <div class="card-footer">
            <div class="stats">
             
            </div>
          </div>
        </div>
    
    </div>

</div>


{% endblock %}
{% block scripts %}

<script>
    $("#automation-link").addClass("active");





</script>
{% endblock %}
{% block styles %}

{% endblock %}