{% extends "dashboard/layout.html" %}
{% load static %}
{% load to_price %}
{% block contents %}





<div class="row">
  
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">settings</i>
                </div>
                <p class="card-category">جزئیات واحد سازمانی</p>
                <h3 class="card-title">  {{work_unit.title}}

                </h3>
            </div>
            <div class="card-body">
                <p class="mt-3">
                   


                        {{work_unit.description}}

                    </p>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons text-danger">link</i>
                    <a href=" {{work_unit.get_edit_url}}">ویرایش</a>
                </div>
            </div>
        </div>
    </div>

 <!-- work units -->
 <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="card card-stats">
        <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
                <i class="material-icons">settings</i>
            </div>
            <p class="card-category">لیست</p>
            <h3 class="card-title">پروژه های مرتبط

            </h3>
        </div>
        <div class="card-body">
          {% for project in work_unit.project_set.all %}
          <p class="mt-3">
               


            <a class="d-block mb-2 text-{{work_unit.color}}" href="{{project.get_absolute_url}}">
                <i class="material-icons">{{project.icon}}</i>
                {{project.title}}</a>

            </p>
          {% endfor %}
          {% if perms.automation.add_project and add_project_form %}
         
          <form action="{% url 'automation:add_project' %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="work_unit_id" value="{{work_unit.id}}">
              <input type="text" name="title" class="form-control" placeholder="نام پروژه جدید" id="">
<input type="submit" class="btn btn-sm btn-success" value="افزودن">
            </form>
          {% endif %}
        </div>
        <div class="card-footer">
            <div class="stats">
                <i class="material-icons text-danger">link</i>
                <a href="{{ADMIN_URL}}automation/project/add/">اضافه کردن پروژه</a>
            </div>
        </div>
    </div>
</div>



 <!-- Employees -->
 <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="card card-stats">
        <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
                <i class="material-icons">settings</i>
            </div>
            <p class="card-category">لیست</p>
            <h3 class="card-title">نیروی انسانی 

            </h3>
        </div>
        <div class="card-body">
          {% for employee in work_unit.employees.all %}
          <p class="mt-3">
               


            <a class=" mb-2 text-{{work_unit.color}}" href="{{employee.profile.get_absolute_url}}">
                <i class="material-icons">{{project.icon}}</i>
                {{employee.profile.name}}</a>
         <small class="mx-2 text-secondary">{{employee.role}}</small> 
            </p>
          {% endfor %}
          {% if perms.automation.add_employee and add_employee_form %}
         
          <form action="{% url 'automation:add_employee' %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="work_unit_id" value="{{work_unit.id}}">
              <input type="text" name="title" class="form-control" placeholder="نام پرسنل جدید" id="">
<input type="submit" class="btn btn-sm btn-success" value="افزودن">
            </form>
          {% endif %}
        </div>
        <div class="card-footer">
            <div class="stats">
                <i class="material-icons text-danger">link</i>
                
            </div>
        </div>
    </div>
</div>

</div>


{% endblock %}
{% block scripts %}

<script>
    $("#automation-link").addClass("active");





</script>
{% endblock %}
{% block styles %}

{% endblock %}