{% extends "constructioncompany/layout.html" %}
{% load static %}
{% block header %}

{% endblock  %}
{% block contents %}


<!-- slider Area Start-->
<div class="slider-area ">
    <div class="single-slider hero-overly slider-height2 d-flex align-items-center"
        data-background="{{pages_header_image.image}}">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap pt-100">
                        {% if pages_pre_title %}
                        <h3 class="mb-3 bread ">{{pages_pre_title}}</h3>

                        {% endif %}
                        {% if pages_title %}
                        <h2 class="mb-3 ">{{pages_title.value}}</h2>

                        {% endif %}

                        {% if pages_title.get_edit_url and perms.app.change_parameter %}
                        <p class="">
                            <a href="{{pages_title.get_edit_url}}" class="btn btn-info py-md-3 py-2 px-2 px-md-4">Edit
                                About Us Title</a>
                        </p>
                        {% endif %}

                        {% if pages_post_title %}
                        <h3 class="mb-3 bread ">{{pages_post_title}}</h3>

                        {% endif %}

                        {% if pages_header_image.get_edit_url and perms.app.change_mainpic and pages_header_image.get_edit_url %}
                        <p class="">
                            <a href="{{pages_header_image.get_edit_url}}"
                                class="btn btn-info py-md-3 py-2 px-2 px-md-4">Edit Image
                            </a>
                        </p>
                        {% endif %}

                        <nav aria-label="breadcrumb ">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'engapp:home' %}">Home</a></li>
                                
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider Area End-->


<!-- About Area Start -->
<section class="support-company-area fix pt-10">
    <div class="support-wrapper align-items-end">
        <div class="left-content">
            <!-- section tittle -->
            <div class="section-tittle section-tittle2 mb-55">
                <div class="front-text">
                    <h2 class="">{{about_us_title.value}}</h2>
                    {% if perms.engapp.change_parameter %}
                    <p><a class="btn btn-info" href="{{about_us_title.get_edit_url}}">Edit</a></p>
                    {% endif %}
                </div>
                <span class="back-text">About us</span>
            </div>
            <div class="support-caption">
                {{about_us_short.value|safe}}
                {% if perms.engapp.change_parameter %}
                <p><a class="btn btn-info" href="{{about_us_short.get_edit_url}}">Edit</a></p>
                {% endif %}
                {% if perms.engapp.change_mainpic %}
                <p><a class="btn btn-info" href="{{about_pic.get_edit_url}}">Edit Image</a></p>
                {% endif %}
                <a href="{% url 'engapp:about' %}" class="btn red-btn2">read more</a>
            </div>
        </div>
        <div class="right-content">
            <!-- img -->
            <div class="right-img">
                <img src="{{about_pic.image}}" alt="">


            </div>
            <div class="support-img-cap text-center">

                <p>Since</p><span>
                    {% if since %}
                    {{since.value}}
                    {% else %}
                    2001
                    {% endif %}


                </span>
                {% if perms.engapp.change_parameter %}
                <p><a class="btn btn-info" href="{{since.get_edit_url}}">Edit</a></p>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<!-- About Area End -->
<!-- Testimonial Start -->
<div class="testimonial-area t-bg testimonial-padding">
    <div class="container ">
        <div class="row">
            <div class="col-xl-12">
                <!-- Section Tittle -->
                <div class="section-tittle section-tittle6 mb-50">
                    <div class="front-text">
                        <h2 class="">Testimonial</h2>
                        {% if perms.engapp.add_testimonial %}
                        <p><a class="btn btn-info" href="{{ADMIN_URL}}{{APP_NAME}}/testimonial/add/">Add Testimonial</a>
                        </p>
                        {% endif %}
                    </div>
                    <span class="back-text">Feedback</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-10 col-lg-11 col-md-10 offset-xl-1">
                <div class="h1-testimonial-active">
                    {% for testimonial in testimonials %}
                    <!-- Single Testimonial -->
                    <div class="single-testimonial">
                        <!-- Testimonial Content -->
                        <div class="testimonial-caption ">
                            <div class="testimonial-top-cap">
                                <!-- SVG icon -->
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="86px" height="63px">
                                    <path fill-rule="evenodd" stroke-width="1px" stroke="rgb(255, 95, 19)"
                                        fill-opacity="0" fill="rgb(0, 0, 0)"
                                        d="M82.623,59.861 L48.661,59.861 L48.661,25.988 L59.982,3.406 L76.963,3.406 L65.642,25.988 L82.623,25.988 L82.623,59.861 ZM3.377,25.988 L14.698,3.406 L31.679,3.406 L20.358,25.988 L37.340,25.988 L37.340,59.861 L3.377,59.861 L3.377,25.988 Z" />
                                </svg>
                                {% if testimonial.title %}
                                <h4 style="color:#eee" class=mb-3>{{testimonial.title}}</h4>

                                {% endif %}
                                <p>
                                    {{testimonial.body}}




                                </p>


                                {% if testimonial.footer %}
                                <h6 style="color:#eee">{{testimonial.footer}}</h6>

                                {% endif %}
                                {% if perms.engapp.change_testimonial %}
                                <p>
                                    <a class="btn btn-info" href="{{testimonial.get_edit_url}}">Edit</a>

                                </p>
                                {% endif %}

                            </div>
                            <!-- founder -->
                            <div class="testimonial-founder d-flex align-items-center">
                                <div class="founder-text">
                                    <span>{{testimonial.profile.name}}</span>
                                    <p>{{testimonial.profile.bio}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}





                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->

<!-- Team Start -->
<div class="team-area section-padding30">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <!-- Section Tittle -->
                <div class="section-tittle section-tittle5 mb-50">
                    <div class="front-text">
                        <h2 class="">Our team</h2>
                        {% if perms.engapp.add_ourteam %}
                        <p><a class="btn btn-info" href="{{ADMIN_URL}}{{APP_NAME}}/ourteam/add/">Add Our Team Member</a>
                        </p>
                        {% endif %}
                    </div>
                    <span class="back-text">experts</span>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- single Team -->
            {% for our_team in our_teams %}
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                <div class="single-team mb-30">
                    <div class="team-img">
                        <img src="{{our_team.image}}" alt="">
                    </div>
                    <div class="team-caption">
                        <span>{{our_team.job}}</span>
                        <h3>{{our_team.name}}</h3>
                    </div>
                </div>
            </div>

            {% endfor %}



        </div>
    </div>
</div>
<!-- Team End -->
{% endblock  %}
{% block scripts %}

{% endblock  %}