{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title> {{engapp.pretitle.value}} " {{engapp.title.value}} "</title>
        <meta name="theme-color" content="{{theme_color}}" />
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'engapp/img/favicon.ico' %}">

		<!-- CSS here -->
            <link rel="stylesheet" href="{% static 'engapp/css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'engapp/css/owl.carousel.min.css' %}">
            <link rel="stylesheet" href="{% static 'engapp/css/slicknav.css' %}">
            <link rel="stylesheet" href="{% static 'engapp/css/animate.min.css' %}">
            <link rel="stylesheet" href="{% static 'engapp/css/magnific-popup.css' %}">
            <link rel="stylesheet" href="{% static 'engapp/css/fontawesome-all.min.css' %}">
            <link rel="stylesheet" href="{% static 'engapp/css/themify-icons.css' %}">
            <link rel="stylesheet" href="{% static 'engapp/css/slick.css' %}">
            <link rel="stylesheet" href="{% static 'engapp/css/nice-select.css' %}">
            <link rel="stylesheet" href="{% static 'engapp/css/style.css' %}">
            
{% block head %}
  
{% endblock  %}

   </head>

   <body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'engapp/img/loader-logo.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
{% include "constructioncompany/includes/header.html" %}
    <main>

   {% block contents %}
     
   {% endblock %}

    </main>
 {% include "constructioncompany/includes/footer.html" %}
   
	<!-- JS here -->
	
		<!-- All JS Custom Plugins Link Here here -->
        <script src="{% static 'engapp/js/vendor/modernizr-3.5.0.min.js' %}"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="{% static 'engapp/js/vendor/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'engapp/js/popper.min.js' %}"></script>
        <script src="{% static 'engapp/js/bootstrap.min.js' %}"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="{% static 'engapp/js/jquery.slicknav.min.js' %}"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="{% static 'engapp/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'engapp/js/slick.min.js' %}"></script>
        <!-- Date Picker -->
        <script src="{% static 'engapp/js/gijgo.min.js' %}"></script>
		<!-- One Page, Animated-HeadLin -->
        <script src="{% static 'engapp/js/wow.min.js' %}"></script>
		<script src="{% static 'engapp/js/animated.headline.js' %}"></script>
        <script src="{% static 'engapp/js/jquery.magnific-popup.js' %}"></script>

		<!-- Scrollup, nice-select, sticky -->
        <script src="{% static 'engapp/js/jquery.scrollUp.min.js' %}"></script>
        <script src="{% static 'engapp/js/jquery.nice-select.min.js' %}"></script>
		<script src="{% static 'engapp/js/jquery.sticky.js' %}"></script>
               
        <!-- counter , waypoint -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
        <script src="{% static 'engapp/js/jquery.counterup.min.js' %}"></script>

        <!-- contact js -->
        <script src="{% static 'engapp/js/contact.js' %}"></script>
        <script src="{% static 'engapp/js/jquery.form.js' %}"></script>
        <script src="{% static 'engapp/js/jquery.validate.min.js' %}"></script>
        <script src="{% static 'engapp/js/mail-script.js' %}"></script>
        <script src="{% static 'engapp/js/jquery.ajaxchimp.min.js' %}"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="{% static 'engapp/js/plugins.js' %}"></script>
        <script src="{% static 'engapp/js/main.js' %}"></script>
        
{% block scripts %}
  
{% endblock  %}
    </body>
</html>