{% extends "constructioncompany/layout.html" %}
{% load static %}
{% block head %}
  

<meta name="description" content="{% for meta_data in page.meta_datas.all %}{{meta_data.content}} , {% endfor %}" />


{% endblock %}
{% block contents %}

<!-- slider Area Start-->
<div class="slider-area ">
   <div class="single-slider hero-overly slider-height2 d-flex align-items-center"
      data-background="{{page.header_image}}">
      <div class="container">
         <div class="row">
            <div class="col-xl-12">
               <div class="hero-cap pt-100">
                  <h2>{{page.title}}</h2>
                  {% if perms.engapp.change_page %}
                  <p><a class="btn btn-info" href="{{page.get_edit_url}}">Edit</a></p>

                  {% endif %}
                  <nav aria-label="breadcrumb ">
                     <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'engapp:home' %}">Home</a></li>
                                
                     </ol>
                  </nav>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- slider Area End-->
<!--================Blog Area =================-->
<section class="blog_area single-post-area section-padding">
   <div class="container">
      <div class="row">
         <div class="col-lg-8 posts-list">
            <div class="single-post">
               <div class="feature-img">
                  <img class="img-fluid" src="{{page.image}}" alt="">
               </div>
               <div class="blog_details">
                  <h2>{{page.title}}
                  </h2>
                  <ul class="blog-info-link mt-3 mb-4">
                     <li><a href="#"><i class="fa fa-user"></i> {{page.profile.name}}</a></li>
                     <li><a href="#"><i class="fa fa-comments"></i> {{page.comments.all|length}} Comments</a></li>
                  </ul>
                  <p class="excert">
                     {{page.description}}
                  </p>



               </div>
            </div>

            {% for partial_page in page.partials.all %}
            {% include "constructioncompany/includes/partial-page.html" %}
            {% endfor %}
            {% if page.profile %}

            <div class="blog-author">
               <div class="media align-items-center">
                  <img src="{{page.profile.image}}" alt="">
                  <div class="media-body">
                     <a href="{{page.profile.get_absolute_url}}">
                        <h4>{{page.profile.name}}</h4>
                     </a>
                     {% if  page.profile.bio %}

                     <p>{{page.profile.bio}}</p>
                     {% endif %}
                  </div>
               </div>
            </div>

            {% endif %}
            <div class="navigation-top" id="like-app">
               <div class="d-sm-flex justify-content-between text-center">
                  <p class="like-info"><span class="align-middle"><i class="fa fa-heart"></i></span> Lily and 4
                     people like this</p>
                  <div class="col-sm-4 text-center my-2 my-sm-0">
                     <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                  </div>
                  <ul class="social-icons">
                     <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                     <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                     <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                     <li><a href="#"><i class="fa fa-behance"></i></a></li>
                  </ul>
               </div>
               <div class="navigation-area">
                  <div class="row">
                     <div
                        class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                        <div class="thumb">
                           <a href="#">
                              <img class="img-fluid" src="{% static 'engapp/img/loader-logo.png' %}" alt="ssss">
                           </a>
                        </div>
                        <div class="arrow">
                           <a href="#">
                              <span class="lnr text-white ti-arrow-left"></span>
                           </a>
                        </div>
                        <div class="detials">
                           <p>Prev Post</p>
                           <a href="#">
                              <h4>Space The Final Frontier</h4>
                           </a>
                        </div>
                     </div>
                     <div
                        class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                        <div class="detials">
                           <p>Next Post</p>
                           <a href="#">
                              <h4>Telescopes 101</h4>
                           </a>
                        </div>
                        <div class="arrow">
                           <a href="#">
                              <span class="lnr text-white ti-arrow-right"></span>
                           </a>
                        </div>
                        <div class="thumb">
                           <a href="#">
                              <img class="img-fluid" src="{% static 'engapp/img/loader-logo.png' %}" alt="">
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

            <div class="comments-area" id="comment-app">
               <h4 v-text="comments.length+' Comments'"></h4>

               <div class="comment-list">
                  <div class="single-comment justify-content-between d-flex mb-5" v-for="comment in comments">
                     <div class="user justify-content-between d-flex">
                        <div class="thumb">
                           <img :src="comment.profile_image" alt="">
                        </div>
                        <div class="desc">
                           <p class="comment" v-text="comment.text">
                           </p>
                           <div class="d-flex justify-content-between">
                              <div class="d-flex align-items-center">
                                 <h5>
                                    <a v-text="comment.profile_name"></a>
                                 </h5>
                                 <p class="date" v-html="comment.date_added"></p>
                              </div>
                              <div class="reply-btn">
                                 <a href="#" class="btn-reply text-uppercase">reply</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>


            </div>

{% if profile %}
  


            <div class="comment-form" id="comment-form">
               <h4>Leave a Comment</h4>
               <form class="form-contact comment_form" action="#" id="commentForm">
                  <div class="row">
                     <div class="col-12">
                        <div class="form-group">
                           <textarea class="form-control w-100" name="comment" id="my-comment" v-model="my_comment" id="comment" cols="30"
                              rows="3" placeholder="Write Comment"></textarea>
                        </div>
                     </div>               
                     {% csrf_token %}
                  </div>
                  <div class="form-group">
                     <button type="button" @click="AddComment" class="button button-contactForm btn_1 boxed-btn">Send
                        Message</button>
                  </div>
               </form>
            </div>
{% endif %}

         </div>
         <div class="col-lg-4">
            <div class="blog_right_sidebar">
               <aside class="single_sidebar_widget search_widget">
                  <form action="{% url 'engapp:search' %}" method="POST">
                     {% csrf_token %}
                     <div class="form-group">
                        <div class="input-group mb-3">
                           <input required type="text" name="search_for" class="form-control" placeholder='Search Keyword'
                              onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'">
                           <div class="input-group-append">
                              <button class="btns" type="submit"><i class="ti-search"></i></button>
                           </div>
                        </div>
                     </div>
                     <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                        type="submit">Search</button>
                  </form>
               </aside>
               <aside class="single_sidebar_widget post_category_widget">
                  <h4 class="widget_title">Category</h4>
                  <ul class="list cat-list">
                     <li>
                        <a href="#" class="d-flex">
                           <p>Resaurant food</p>
                           <p>(37)</p>
                        </a>
                     </li>
                     <li>
                        <a href="#" class="d-flex">
                           <p>Travel news</p>
                           <p>(10)</p>
                        </a>
                     </li>
                     <li>
                        <a href="#" class="d-flex">
                           <p>Modern technology</p>
                           <p>(03)</p>
                        </a>
                     </li>
                     <li>
                        <a href="#" class="d-flex">
                           <p>Product</p>
                           <p>(11)</p>
                        </a>
                     </li>
                     <li>
                        <a href="#" class="d-flex">
                           <p>Inspiration</p>
                           <p>(21)</p>
                        </a>
                     </li>
                     <li>
                        <a href="#" class="d-flex">
                           <p>Health Care</p>
                           <p>(21)</p>
                        </a>
                     </li>
                  </ul>
               </aside>
               <aside class="single_sidebar_widget popular_post_widget">
                  <h3 class="widget_title">Related Post</h3>
                  {% for page_related in page.relateds.all %}
                  <div class="media post_item">
                     <img src="{{page_related.thumbnail}}" height="80px" width="80px" alt="post">
                     <div class="media-body">
                        <a href="{{page_related.get_absolute_url}}">
                           <h3>{{page_related.title}}</h3>
                        </a>
                        <p>{{page_related.date_added}}</p>
                     </div>
                  </div>

                  {% endfor %}



               </aside>
               <aside class="single_sidebar_widget tag_cloud_widget">
                  <h4 class="widget_title">Tag Clouds</h4>
                  <ul class="list">

                     {% for tag in tags %}
                     <li>
                        <a href="{{tag.get_absolute_url}}">{{tag.title}}</a>
                     </li>


                     {% endfor %}

                  </ul>
               </aside>
               <aside class="single_sidebar_widget instagram_feeds">
                  <h4 class="widget_title">Instagram Feeds</h4>
                  <ul class="instagram_row flex-wrap">
                     <li>
                        <a href="#">
                           <img class="img-fluid" src="{% static 'engapp/img/loader-logo.png' %}" alt="next post">
                        </a>
                     </li>

                  </ul>
               </aside>
               <aside class="single_sidebar_widget newsletter_widget">
                  <h4 class="widget_title">Newsletter</h4>
                  <form action="#">
                     <div class="form-group">
                        <input type="email" class="form-control" onfocus="this.placeholder = ''"
                           onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
                     </div>
                     <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                        type="submit">Subscribe</button>
                  </form>
               </aside>
            </div>
         </div>
      </div>
   </div>
</section>
<!--================ Blog Area end =================-->

{% endblock  %}

{% block scripts %}


<script>
   // $("#our-works-link").addClass('active')
   let csrfmiddlewaretoken = ''
   $(document).ready(function () {
      // Javascript method's body can be found in assets/js/demos.js
      csrfmiddlewaretoken = $("input[name='csrfmiddlewaretoken']").val()


   })
   let comments = JSON.parse(`{{comments_s|escapejs}}`)
   let my_like = JSON.parse("{% if my_like %}true{% else %}false{% endif %}")
   let page_id = JSON.parse("{{page.id}}")
   let likes_count = JSON.parse("{{page.likes.all|length}}")
   let object_id = JSON.parse("{{page.id}}")
   let add_comment_url = "{% url 'engapp:add_comment' %}"
   let delete_comment_url = "{% url 'engapp:delete_comment' %}"
   let comment_template = `{% include 'avo/partials/comment.html' %}`
   let profile_id = JSON.parse("{% if profile %}{{profile.id}}{% else %}0{% endif %}")
</script>
<script src="{% static 'vendor/js/vue.js' %}"></script>
<script>


   let like_app = new Vue({
      el: "#like-app",
      data: {
         my_like: my_like,
         page_id: page_id,
         likes_count: likes_count,

      },
      methods: {
         toggle_like: function () {
            let url = "{% url 'app:toggle_like' %}"
            let posting = $.post(url, {
               object_id: this.page_id,
               object_type: 'Page',
               csrfmiddlewaretoken: csrfmiddlewaretoken
            })

            posting.done(function (data) {
               like_app.my_like = data.my_like

               like_app.likes_count = data.likes_count

            })

         },

      },
   })






</script>
<script src="{% static 'leo/js/comment-component.js' %}"></script>
<script>
   delete_comment = function (comment_id) {
      comment_app.delete_comment(comment_id)
   }
   var comment_app = new Vue(
      {
         el: "#comment-app",
         data: {
            my_comment: '',
            comments: comments,
            profile_id: profile_id,
         },
         methods: {
            delete_comment: function (comment_id) {
               this.comments = this.comments.filter(function (value, index, arr) { return value.id != comment_id; })

            },

         },
      }
   )


   var comment_form = new Vue(
      {
         el: "#comment-form",
         data: {
            my_comment: '',
            profile_id: profile_id,
         },
         methods: {
            AddComment: function () {

     
               if (comment_form.text === "")
                  console.log('comment text must be filled')
               else {
                  let url = add_comment_url
                  let posting = $.post(url, {
                     object_id: object_id,
                     text: comment_form.my_comment,
                     object_type: "Page",
                     csrfmiddlewaretoken: csrfmiddlewaretoken
                  })
                  posting.done(function (data) {
                     comment_app.confirm_delete_comment = false
                     if (data.my_comment) {
                        comment_app.comments.push(data.my_comment)
                        comment_form.my_comment=""
                     }
                  })
               }
            },
         }
      }
   )
</script>
{% endblock %}